<template>
  <section class="content__catalog-filter catalog-filter">
    <div class="catalog-filter__wrap container container--big">
      <div class="catalog-filter__inner">
        <div class="catalog-filter__row-1">
          <div class="catalog-filter__field">
            <p class="catalog-filter__field-title title-lvl-4">Сколько нужно денег?</p>
            <div class="catalog-filter__calculator">
              <app-calculator v-if="RESPONSE"
                              :max="mainCalculator.max"
                              :min="mainCalculator.min"
                              :step="mainCalculator.step"
                              :value="mainCalculator.value"
                              :maxLength="7"
                              :additional="'₸'"
                              :name="'main_calculator'">
              </app-calculator>
            </div>
          </div>
          <div class="catalog-filter__field">
            <p class="catalog-filter__field-title title-lvl-4">На какой срок</p>
            <div class="catalog-filter__calculator">
              <app-calculator v-if="RESPONSE"
                              :max="daysCalculator.max"
                              :min="daysCalculator.min"
                              :step="daysCalculator.step"
                              :value="daysCalculator.value"
                              :maxLength="2"
                              :additional="'дней'"
                              :name="'days_calculator'">
              </app-calculator>
            </div>
          </div>
          <button class="catalog-filter__btn btn btn--big btn--mobile-normal-long"
                  @click="calculatorFilters()">
            Показать предложения
          </button>
        </div>
        <div class="catalog-filter__row-2">
          <button class="catalog-filter__open-btn">Выбор условий</button>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
    import appCalculator from '../../components/Common/Calculator';
    import {mapGetters}  from 'vuex';

    export default {
        components: {
            appCalculator
        },
        methods: {
            calculatorFilters() {
                this.$emit('calculatorFilters')
            }
        },
        computed: {
            ...mapGetters('calculators', [
                'CALCULATORS',
                'RESPONSE'
            ]),
            mainCalculator () {
                return this.CALCULATORS.main_calculator;
            },
            daysCalculator () {
                return this.CALCULATORS.days_calculator;
            }
        }
    };
</script>

<style lang="scss">
  @import "../../assets/scss/components/catalog-filter";
</style>