<template>
  <section class="content__catalog catalog">
    <div class="catalog__wrap container container--big">
      <div class="catalog__col-1">
        <app-conditions-banner :bemEl="'catalog__banner-item'"/>
        <app-long-banner :bemEl="'catalog__banner-item'"/>
<!--        <app-slider-banner :bemEl="'catalog__banner-item'" :title="'Микрокредиты в городах'"/>-->
      </div>
      <div class="catalog__col-2">
        <div class="catalog__header">
          <h3 class="catalog__title title-lvl-1">Найдено {{COMPANIES_TO_CATALOG.length}} предложения</h3>
        </div>
        <ul class="catalog__companies-card companies-card">
          <li class="companies-card__item-wrap"
              v-for="(item, index) in COMPANIES_TO_CATALOG">
            <div class="companies-card__item-inner"
                 :class="{'is-open' : item.toggle_description}">
              <div class="companies-card__item">
                <div class="companies-card__item-row-1">
                  <div class="companies-card__col-1">
                    <div class="companies-card__logo-wrap">
                      <img :src="item.logo" alt="item.name" class="companies-card__logo">
                    </div>
                    <p class="companies-card__company">Онлайн микрокредит от&nbsp;<span
                        class="is-check-mark bold">{{item.name}}</span>
                    </p>
                  </div>
                  <div class="companies-card__col-2">
                    <div class="companies-card__field">
                      <div class="companies-card__field-top is-hr">
                        <p class="companies-card__field-title">Ставка в день</p>
                        <p class="companies-card__field-text title-lvl-3">
                          {{item.daily_percentage}}</p>
                      </div>
                      <div class="companies-card__field-bottom">
                        <div class="companies-card__rating rating">
                          <div class="rating__wrap">
                            <div class="rating__item rating__item--star-gray"></div>
                            <div
                                :style="`background-size: calc(100% / ${item.rating}); width: calc(20% * ${item.rating})`"
                                class="rating__item rating__item--star-gold"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="companies-card__field">
                      <div class="companies-card__field-top">
                        <p class="companies-card__field-title">Сумма до</p>
                        <p class="companies-card__field-text title-lvl-3">
                          {{item.max_sum_text}}</p>
                      </div>
                      <div class="companies-card__field-bottom">
                        <p class="companies-card__field-link">
                          <a href="item.url" class="link link--dark-blue">Отзывы</a>
                          <span class="companies-card__field-link--count"> ({{item.review_count}})</span>
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="companies-card__col-3">
                    <ul class="companies-card__conditions-list">
                      <li class="companies-card__conditions-item" v-for="item in item.conditions">{{item}}</li>
                    </ul>
                  </div>
                  <div class="companies-card__col-4">
                    <a href="#" class="companies-card__btn btn">Получить деньги</a>
                    <button class="companies-card__arrow btn btn--square btn--square-arrow-bottom"
                            :class="{'is-active' : item.toggle_description}"
                            @click="TOGGLE_DESCRIPTION(index)"></button>
                  </div>
                </div>
                <transition name="slide-animation">
                  <div v-if="item.toggle_description">
                    <div class="companies-card__item-row-2 companies-description">
                      <ul class="companies-description__list">
                        <li class="companies-description__item" v-for="item in item.additional">
                          <div class="companies-description__item-inner">
                            <p class="companies-description__title title-lvl-5">
                              {{item.title}}</p>
                            <p class="companies-description__text" v-html="item.desc"></p>
                          </div>
                        </li>
                      </ul>
                      <div class="companies-description__show-more-wrap">
                        <a :href="item.url"
                           class="companies-description__show-more link link--dark-blue">
                          Полное описание условий
                        </a>
                      </div>
                    </div>
                  </div>
                </transition>
              </div>
            </div>
          </li>
        </ul>
        <div class="catalog__pagination pagination">
          <p class="pagination__title">
            <span class="pagination__title--bold">Предложения</span> 1–10 из 119
          </p>
          <ul class="pagination__btn-list">
            <li class="pagination__btn-item">
              <button class="pagination__item-btn btn btn--square is-active">1</button>
            </li>
            <li class="pagination__btn-item">
              <button class="pagination__item-btn btn btn--square">2</button>
            </li>
            <li class="pagination__btn-item">
              <button class="pagination__item-btn btn btn--square">3</button>
            </li>
            <li class="pagination__btn-item">
              <button class="pagination__item-btn btn btn--square">4</button>
            </li>
            <li class="pagination__btn-item">
              <button class="pagination__item-btn btn btn--square">5</button>
            </li>
            <li class="pagination__btn-item">
              <button class="pagination__item-btn btn btn--square">...</button>
            </li>
          </ul>
          <button class="pagination__btn btn btn--long">Показать еще</button>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
    import {mapGetters, mapMutations} from 'vuex';
    import appConditionsBanner from '../Banners/ConditionsBanner';
    import appLongBanner from '../Banners/LongBanner';
    import appSliderBanner from '../Banners/SliderBanner';

    export default {
        components: {
            appConditionsBanner,
            appLongBanner,
            appSliderBanner
        },
        data() {
            return {}
        },
        methods: {
            ...mapMutations('companies', [
                'TOGGLE_DESCRIPTION'
            ])
        },
        computed: {
            ...mapGetters('companies', [
                'COMPANIES_TO_CATALOG'
            ]),
        },
    };
</script>

<style lang="scss">
  @import "../../assets/scss/components/catalog";
  @import "../../assets/scss/components/companies-card";
  @import "../../assets/scss/components/companies-description";
</style>