<template>
  <section class="content__catalog-header catalog-header">
    <div class="catalog-header__wrap container container--big">
      <div class="catalog-header__col-1">

        <h2 class="catalog-header__title title-lvl-1">Микрозаймы в&nbsp;<span class="highlight--blue">Алматы</span></h2>
        <p class="catalog-header__text">
          Мы собрали лучшие казахстанские компании в онлайн-займах:
          здесь вы найдете только надежные и законные предложения, без скрытых штрафов, переплат и комиссий.
        </p>
      </div>
      <div class="catalog-header__col-2">
        <div class="catalog-header__banner-img-wrap">
          <img src="/dev-img/1280x720.jpg" alt="" class="catalog-header__banner-img">
        </div>
        <p class="catalog-header__banner-text">Скидка 65% на первый займ на Dopo.kz</p>
        <a href="#" class="catalog-header__banner-link link link--dark-blue">Заполнить заявку</a>
      </div>
    </div>
  </section>
</template>

<script>
  export default {

  }
</script>

<style lang="scss">
  @import "../../assets/scss/components/catalog-header";
</style>