<template>
  <modal name="popup-question"
         height="auto"
         :adaptive="true"
         :scrollable="true"
         classes="popup-anim">
    <div class="popup popup-question">
      <form class="popup-question__form" autocomplete="off" spellcheck="false" @submit.prevent="onSubmit">
        <h3 class="popup-question__title title-lvl-1">Задать вопрос</h3>
        <p class="popup-question__text">
          Данные не попадут кредитным или коллекторским компаниям. Вопрос и ответ будут опубликованы на сайте анонимно.
        </p>
        <div class="popup-question__field-wrap">
          <div class="popup-question__field">
            <p class="popup-question__field-text">Как вас зовут?</p>
            <div class="popup-question__input-wrap hint--wrap">
              <input type="text"
                     class="popup-question__input input input--normal"
                     placeholder="Имя"
                     @input="$v.questionForm.name.$touch()"
                     v-model="questionForm.name"
                     :class="nameErrorClass">
              <span class="popup-question__hint hint">Поле заполнено неверно</span>
            </div>
          </div>
          <div class="popup-question__field popup-question__field--email">
            <p class="popup-question__field-text">Эл. почта</p>
            <div class="popup-question__input-wrap hint--wrap">
              <input type="email"
                     class="popup-question__input input input--normal"
                     placeholder="example@mail.ru"
                     @input="$v.questionForm.email.$touch()"
                     v-model="questionForm.email"
                     :class="emailErrorClass">
              <span class="popup-question__hint hint">Поле заполнено неверно</span>
            </div>
          </div>
        </div>
        <div class="popup-question__text-wrap">
          <p class="popup-question__field-text">Вопрос</p>
          <label class="popup-question__file-label">
            <input type="file" class="visually-hidden">
            <span class="popup-question__file-link link link--dark-blue">Прикрепить файл</span>
          </label>
        </div>
        <div class="popup-question__input-wrap hint--wrap">
            <textarea class="popup-question__textarea input input--textarea"
                      placeholder="Текст вопроса"
                      @input="$v.questionForm.question.$touch()"
                      v-model="questionForm.question"
                      :class="questionErrorClass"></textarea>
          <span class="popup-question__hint hint">Поле заполнено неверно</span>

        </div>
        <div class="popup-question__bottom">
          <p class="popup-question__bottom-hint">Не все поля заполненны верно</p>
          <button class="popup-question__btn btn btn--normal"
                  :disabled="$v.$invalid"
                  ref="submitBtn">
            Задать вопрос
          </button>
        </div>
      </form>
    </div>
  </modal>
</template>

<script>
    import {email, required, minLength} from 'vuelidate/lib/validators';

    export default {
        data () {
            return {
                questionForm: {
                    name: '',
                    email: '',
                    question: ''
                }
            };
        },
        validations: {
            questionForm: {
                name: {
                    required,
                    minLength: minLength(2)
                },
                email: {
                    required,
                    email
                },
                question: {
                    required
                }
            }
        },
        methods: {
            onSubmit () {
                this.$refs.submitBtn.classList.add('is-load');

                this.axios
                    .post('http://localhost:3000/question', this.questionForm)
                    .then(response => {
                        this.questionForm.name = '';
                        this.questionForm.email = '';
                        this.questionForm.question = '';
                        this.$refs.submitBtn.classList.remove('is-load');
                        this.$v.$reset();
                        // this.$modal.hide('popup-question');
                    });
            }
        },
        computed: {
            nameErrorClass () {
                return {'is-error': this.$v.questionForm.name.$error};
            },
            emailErrorClass () {
                return {'is-error': this.$v.questionForm.email.$error};
            },
            questionErrorClass () {
                return {'is-error': this.$v.questionForm.question.$error};
            }
        }
    };
</script>

<style lang="scss">
  @import "../../assets/scss/components/popup-question";
</style>