@font-face {
  font-family: 'Roboto';
  src: local('Roboto-Regular'),
  url('/fonts/Roboto-Regular/Roboto-Regular.woff2') format('woff2'),
  url('/fonts/Roboto-Regular/Roboto-Regular.woff') format('woff');
  font-weight: $fw-norm;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto-Medium'),
  url('/fonts/Roboto-Medium/Roboto-Medium.woff2') format('woff2'),
  url('/fonts/Roboto-Medium/Roboto-Medium.woff') format('woff');
  font-weight: $fw-medium;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto-Bold'),
  url('/fonts/Roboto-Bold/Roboto-Bold.woff2') format('woff2'),
  url('/fonts/Roboto-Bold/Roboto-Bold.woff') format('woff');
  font-weight: $fw-bold;
  font-style: normal;
  font-display: swap;
}