//Основные точки перелома
$screen-width-b: 1023px;
$screen-width-n: 800px;
$screen-width-s: 550px;
$screen-width-t: 375px;

//Шаг шрифта
$fz-1: 48px;
$fz-2: 36px;
$fz-3: 24px;
$fz-4: 18px;
$fz-5: 16px;
$fz-text: 18px;

$fz-1-n: 36px;
$fz-2-n: 24px;
$fz-3-n: 20px;
$fz-4-n: 16px;
$fz-text-n: 16px;

$fz-1-s: 24px;
$fz-2-s: 18px;
$fz-3-s: 18px;
$fz-4-s: 14px;
$fz-text-s: 14px;

//Горизонтальный отступ
$hor-indent: 30px;
$hor-indent-n: 20px;
$hor-indent-s: 10px;

//Вертикальные отступ
$ver-indent-l1: 100px;
$ver-indent-l2: 50px;


//Отступ после заголовка
$ver-indent-interior-l2: 50px;
$ver-indent-interior-l3: 30px;

//$ver-indent-interior-s: 20px;

//Max-width
$content-width: 1240px;

//Базовые цвета типографики
$important-text: #37474F;
//$dark-text: #37474F;
$text: #666666;
$minor-text: #999999;

//Базовые цвета всего проекта
$black: #37474F;
$blue: #2D9CDB;
$dark-blue: #0091EA;
$yellow: #FFB74D;
$dark-yellow: #FD9700;
$light-gray: #ECEFF1;
$gray: #CFD8DC;
$dark-gray: #90A4AE;
$space-gray: #78909C;
$error: #B71C1C;

//Базовые цвета блоков
$brd: #B0BEC5;
$brd-hover: #90A4AE;
$brd-focus: #0091EA;
$brd-error: #B71C1C;
$bsh: inset 1px 1px 2px rgba(0, 0, 0, 0.25);
$bsh-focus: 0px 0px 4px rgba(0, 145, 234, 0.5);
$bsh-error: 0px 0px 4px rgba(183, 28, 28, 0.5);
$bgc-hint: #FFEDD2;
$brd-hint: #FFB74D;

//Толщина шрифта
$fw-norm: 400;
$fw-medium: 500;
$fw-bold: 700;

//Межстрочный интервал
$lh-small: 1;
$lh-medium: 1.2;
$lh-big: 1.5;