.articles{
  display: none;
  flex-wrap: wrap;

  &:first-child{
    display: flex;
  }

  &__item{
    position: relative;
    width: 42%;
    margin-right: 8%;

    &:nth-child(n + 3){
      margin-top: 50px;
    }
  }

  &__link-wrap{
    &:hover, &:focus{
      & ~ .articles__text-wrap{
        .articles__text{
          color: $dark-yellow;
        }
      }
    }
  }

  &__img-wrap{
    padding-bottom: 66%;
    font-size: 0;
  }

  &__img{
    z-index: 1;
    border-radius: 5px;
  }

  &__text-wrap{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
  }

  &__text{
    color: $dark-blue;
    transition: 0.1s;
  }

  &__date{
    color: #90A4AE;
  }

  &__description{
    margin-top: 10px;
    color: $important-text;
  }

  @media all and (max-width: 1023px){
    justify-content: space-between;

    &__item{
      width: 48%;
      margin-right: 0;
    }
  }

  @media all and (max-width: $screen-width-s){
    &__item{
      width: 100%;

      &:nth-child(n + 3){
        margin-top: 0;
      }

      & + &{
        margin-top: 20px;
      }
    }
  }
}