.breadcrumbs{
  &__list{
    display: flex;
  }

  &__item{
    position: relative;
    font-size: 12px;

    & + &{
      margin-left: 10px;

      &::before{
        position: absolute;
        content: '•';
        color: #999;
        left: -7px;
      }
    }
  }

  &__link{
    outline: none;
    transition: 0.1s;
    color: #999;

    &:hover, &:focus{
      color: @dark-yellow;
    }
  }

  &__text{
    color: #999;
  }
}