.calculator {
  &__wrap {
    position: relative;
    width: 100%;
    background-color: #fff;
  }

  &__input {
    position: relative;
    width: 100%;
    font-size: 36px;
    font-weight: $fw-medium;
    z-index: 2;
    background-color: transparent;

    &--normal {
      font-weight: $fw-norm;
      font-size: 24px;
      line-height: 1.2;
    }
  }

  &__additional {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    z-index: 1;
    white-space: nowrap;
    overflow: hidden;
  }

  &__additional-text {
    padding: 10px;
  }

  &__additional-value {
    line-height: 1;
    color: transparent;
    white-space: pre-wrap;

    &--main {
      font-size: 36px;
      font-weight: $fw-medium;
    }

    &--catalog {
      font-size: 24px;
    }

    &--personal {
      font-size: 36px;
      font-weight: $fw-medium;
    }
  }

  &__additional-extension {
    color: $important-text;

    &--main {
      font-size: 33px;
      font-weight: $fw-medium;
      margin-left: 4px;
    }

    &--catalog {
      display: inline-block;
      margin-top: 2px;
      margin-left: 2px;
      font-size: 21px;
    }

    &--catalog-day {
      font-size: 24px;
      margin-left: 2px;
    }

    &--personal {
      font-size: 33px;
      font-weight: $fw-medium;
      margin-left: 4px;
    }
  }

  &__buttons {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 40px;
    z-index: 3;
  }

  &__button {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    outline: none;

    &--clear {
      &::before, &:after {
        content: '';
        position: absolute;
        display: block;
        width: 19px;
        height: 2px;
        background-color: $black;
        border-radius: 1px;
      }

      &::before {
        transform: rotate(-45deg);
      }

      &::after {
        transform: rotate(45deg);
      }
    }

    &--popup {
      display: none;

      &::before {
        content: '';
        display: block;
        width: 16px;
        height: 8px;
        background-image: url('/img/css-sprite.svg#arrow-b');
      }
    }
  }

  &__slider {
    position: absolute;
    width: 100%;
    bottom: -8px;
    padding: 0 14px;
    z-index: 4;

    &::before, &::after {
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 14px;
      height: 4px;
      z-index: -1;
    }

    &::before {
      background-color: $yellow;
      left: 0;
    }

    &::after {
      background-color: #B0BEC5;
      right: 0;
    }
  }

  @media all and (max-width: $screen-width-s) {
    &__input {
      &--normal {
        font-size: 18px;
      }
    }

    &__additional-value {
      &--catalog {
        font-size: 18px;
      }
    }

    &__additional-extension {
      &--catalog {
        margin-top: 3px;
        font-size: 16px;
      }

      &--catalog-day {
        font-size: 18px;
      }
    }

    &__button {
      &--clear {
        display: none;
      }

      &--popup {
        display: flex;
      }
    }
  }
}