.catalog-filter{
  &__wrap{
    margin-top: 40px;
  }

  &__inner{
    padding: 15px 30px 25px;
    border-radius: 3px;
    background-color: $light-gray;
  }

  &__row-1{
    display: flex;
    align-items: flex-end;
  }

  &__field{
    width: 400px;
    margin-right: 30px;
  }

  &__field-title{
    font-size: 18px;
  }

  &__calculator{
    margin-top: 5px;
  }

  &__btn{
    flex-shrink: 0;
    margin-left: auto;
  }

  &__row-2{}

  &__open-btn{
    display: none;
  }

  @media all and (max-width: 1100px){
    &__inner{
      padding: 15px 25px;
    }

    &__open-btn{
      position: relative;
      display: flex;
      cursor: pointer;
      outline: none;
      margin: 20px auto 0;
      font-size: 18px;
      padding: 5px 25px 5px 0;
      color: $important-text;

      &:hover, &:focus{
        color: $dark-yellow;

        &::after{
          background-image: url('/img/css-sprite.svg#arrow-b-dark-yellow');
        }
      }
      
      &::after{
        content: '';
        position: absolute;
        top: 12px;
        right: 0;
        width: 14px;
        height: 8px;
        background-image: url('/img/css-sprite.svg#arrow-b');
      }
    }
  }

  @media all and (max-width: 900px){
    &__inner{
      padding: 20px 10px;
    }

    &__row-1{
      flex-direction: column;
      align-items: center;
    }

    &__field{
      width: 100%;
      max-width: 500px;
      margin-right: 0;

      & + &{
        margin-top: 20px;
      }
    }

    &__btn{
      margin: 25px auto 0;
    }

    &__open-btn{
      margin-top: 10px;
    }
  }

  @media all and (max-width: $screen-width-s){
    &__wrap{
      margin-top: 20px;
      background-color: $light-gray;
    }

    &__inner{
      padding: 20px 10px 15px;
    }

    &__btn{
      margin-top: 20px;
    }

    &__open-btn{
      margin-top: 7px;
      font-size: 14px;

      &::after{
        top: 9px;
        right: 3px;
      }
    }
  }
}