.catalog-header{
  &__wrap{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
  }

  &__col-1{
    width: 800px;
    padding-left: 30px;
  }

  &__breadcrumbs{
    margin-top: 20px;
  }

  &__title{
    margin-top: 20px;
  }

  &__text{
    margin-top: 20px;
  }

  &__col-2{
    margin-left: 50px;
    width: 220px;
    text-align: right;
    font-size: 16px;
    flex-shrink: 0;
  }

  &__banner-img-wrap{
    margin-left: auto;
    width: 100px;
    height: 100px;
  }

  &__banner-img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
  }

  &__banner-text{
    margin-top: 20px;
  }

  &__banner-link{}

  @media all and (max-width: 1100px){
    &__col-1{
      padding-left: 0;
    }
  }

  @media all and (max-width: 880px){
    &__breadcrumbs{
      display: none;
    }

    &__title{
      margin-top: 0;
    }

    &__col-2{
      display: none;
    }
  }
  
  @media all and (max-width: $screen-width-s){
    &__wrap{
      margin-top: 20px;
    }

    &__title{
      text-align: center;
    }
    
    &__text{
      margin-top: 10px;
      text-align: center;
      font-size: 12px;
    }
  }
}