.catalog{
  &__wrap{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__col-1{
    width: 300px;
  }

  &__banner-item{
    & + &{
      margin-top: 20px;
    }
  }

  &__col-2{
    width: calc(100% - 300px);
    padding-left: 25px;
  }

  &__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__update{
    font-size: 16px;
    color: $important-text;
    flex-shrink: 0;
    margin-left: 30px;
  }

  &__companies-card{
    margin-top: 30px;
  }

  &__pagination{
    margin-top: 20px;
  }

  @media all and (max-width: 1100px){
    &__col-1{
      display: none;
    }

    &__col-2{
      width: 100%;
      padding-left: 0;
    }
  }

  @media all and (max-width: 900px){
    &__update{
      display: none;
    }

    &__pagination{
      margin-top: 5px;
    }
  }

  @media all and (max-width: $screen-width-s){
    &__wrap{
      margin-top: 20px;
    }

    &__title{
      margin: 0 auto;
    }
    
    &__companies-card{
      margin-top: 10px;
    }
  }
}