.column-block{
  display: flex;
  align-items: flex-start;

  &__col-1{
    width: calc(100% - 300px);
  }

  &__articles{}

  &__col-2{
    width: 300px;
  }

  &__new-discounts{}

  @media all and (max-width: 1023px){
    &__col-1{
      width: 100%;
    }

    &__col-2{
      display: none;
    }
  }
}