.columns{
  display: flex;
  justify-content: space-between;

  &__col-1{
    width: calc(100% - 300px);
    padding-right: 40px;
  }

  &__breadcrumbs{
    margin-top: 50px;
  }

  &__col-2{
    position: relative;
    width: 300px;
  }

  &__aside-wrap{
    margin-top: 60px;
  }

  &__aside-list{
    &.is-fixed{
      top: 120px;
      position: fixed;
      width: 300px;
    }

    &.is-fixed-bottom{
      position: absolute;
      top: auto;
      bottom: 0;
    }
  }

  &__aside-item{}

  &__company{
    margin-top: 20px;
  }

  &__company-product{
    margin-top: 40px;
  }

  &__company-menu{
    margin-top: 50px;
  }

  &__company-conditions{
    margin-top: 40px;
  }

  &__company-about{
    margin-top: 50px;
  }

  &__company-advantages{
    margin-top: 50px;
  }

  &__company-getting{
    margin-top: 50px;
  }

  &__company-repayment{
    margin-top: 50px;
  }

  &__company-reviews{
    margin-top: 50px;
  }
  
  &__company-addition{
    margin-top: 100px;
  }

  &__company-big-banner{
    display: none;
    margin-top: 40px;
  }

  &__aside-item{
    & + &{
      margin-top: 20px;
    }
  }

  @media all and (max-width: 1023px){
    &__col-1{
      width: 100%;
      padding-right: 0;
    }

    &__col-2{
      display: none;
    }

    &__company-big-banner{
      display: flex;
    }
  }

  @media all and (max-width: @screen-width-n){
    &__breadcrumbs{
      margin-top: 30px;
    }

    &__company-addition{
      margin-top: 70px;
    }
  }

  @media all and (max-width: @screen-width-s){
    &__breadcrumbs{
      display: none;
    }

    &__company-big-banner{
      margin-top: 20px;
    }

    &__company-product{
      margin-top: 20px;
    }

    &__company-menu{
      margin-top: 30px;
    }

    &__company-conditions{
      margin-top: 25px;
    }

    &__company-about{
      margin-top: 20px;
    }

    &__company-advantages{
      margin-top: 20px;
    }

    &__company-getting{
      margin-top: 20px;
    }

    &__company-repayment{
      margin-top: 20px;
    }

    &__company-reviews{
      margin-top: 20px;
    }

    &__company-addition{
      margin-top: 40px;
    }
  }
}