.company{
  &__logo-wrap{
    display: none;
  }

  &__logo{
  }

  &__title{
    & .is-check-mark{
      position: relative;
      padding-right: 42px;

      &::before{
        content: '';
        position: absolute;
        right: 0;
        top: 50%;
        width: 32px;
        height: 32px;
        transform: translateY(-50%);
        background-image: url('/img/css-sprite.svg#check-mark');
        background-repeat: no-repeat;
      }
    }
  }

  &__description{
    margin-top: 30px;
  }

  @media all and (max-width: @screen-width-s){
    &__logo-wrap{
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 30px;
      background-color: @light-gray;
    }

    &__logo{
      width: 300px;
    }

    &__title{
      margin-top: 10px;
      text-align: center;

      & .is-check-mark{
        padding-right: 25px;
        &::before{
          width: 16px;
          height: 16px;
        }
      }
    }

    &__description{
      margin-top: 10px;
      font-size: 12px;
      text-align: center;
    }
  }
}