.companies-card{
  border-top: 1px solid #CFD8DC;

  &__item-inner{
    &.is-open{
      border-bottom: none;

      .companies-card{
        &__item{
          border-bottom: none;
        }
      }
    }
  }

  &__item{
    border-bottom: 1px solid #CFD8DC;
  }

  &__item-row-1{
    padding: 30px 0 20px;
    display: flex;
    justify-content: space-between;
  }

  &__col-1{
    width: 170px;
    flex-shrink: 0;
  }

  &__rating{
    width: 93px;
  }

  &__logo-wrap{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__logo{}

  &__company{
    display: inline-block;
    margin-top: 5px;
    font-size: 12px;
    color: $important-text;

    & .is-check-mark{
      position: relative;

      &::after{
        position: absolute;
        content: '';
        width: 16px;
        height: 16px;
        top: -1px;
        right: -21px;
        background-image: url('/img/css-sprite.svg#check-mark');
      }
    }
  }

  &__col-2{
    margin-left: 30px;
    flex-shrink: 0;
    display: flex;
  }

  &__field{
    & + &{
      margin-left: 30px;
    }
  }

  &__field-title{
    font-size: 14px;
    color: $important-text;
  }

  &__field-text{
    margin-top: 10px;
  }

  &__field-bottom{
    margin-top: 20px;
  }

  &__field-link{
    font-size: 14px;

    &--count{

    }
  }

  &__col-3{
    margin-left: 30px;
  }

  &__conditions-list{
    font-size: 14px;
  }

  &__conditions-item{
    position: relative;
    color: $important-text;
    padding-left: 8px;

    &::before{
      position: absolute;
      content: '•';
      left: 0;
    }
  }

  &__col-4{
    margin-left: 30px;
    display: flex;
  }

  &__btn{
    padding: 0 15px;
  }

  &__arrow{
    margin-left: 10px;
  }

  &__item-row-2{}

  @media all and (max-width: 1250px){
    &__item-row-1{
      flex-wrap: wrap;
    }

    &__col-3{
      width: 200px;
    }

    &__col-4{
      margin-top: 20px;
      justify-content: flex-end;
      width: 100%;
    }
  }

  @media all and (max-width: 1100px){
    &__item-row-1{
      flex-wrap: nowrap;
    }

    &__col-4{
      margin-top: 0;
      justify-content: flex-end;
      width: auto;
    }
  }

  @media all and (max-width: 950px){
    //display: flex;
    //flex-wrap: wrap;
    //justify-content: space-between;
    border-top: none;
    column-count: 2;
    column-gap: 1%;

    &__item-wrap{}

    &__item{
      //width: 49%;
      border-bottom: none;
      display: inline-block;
      width: 100%;

      &:nth-child(n + 3){
        margin-top: 2%;
      }
    }

    &__rating{
      .rating__item{
        background-color: $light-gray;
      }
    }

    &__item-inner{
      display: inline-block;
      padding-bottom: 2%;
      width: 100%;
    }

    &__item-row-1{
      padding: 12px 10px 10px;
      flex-direction: column;
      background-color: $light-gray;
    }

    &__col-1{
      width: 100%;
    }
    
    &__logo-wrap{
      background-color: #fff;
      padding: 0 25px;
      height: 110px;
    }

    &__logo{
      max-width: 250px;
    }

    &__company{
      margin-top: 5px;
      font-size: 14px;
    }

    &__col-2{
      margin-left: 0;
    }

    &__field{
      width: 50%;
      display: flex;
      flex-direction: column;

      & + &{
        margin-left: 0;
        padding-left: 10px;
      }
    }

    &__field-top{
      position: relative;
      padding: 10px 0;

      &.is-hr{
        &::before, &::after{
          position: absolute;
          content: '';
          left: 0;
          width: 200%;
          height: 1px;
          background-image: linear-gradient(to right, #CFD8DC 50%, transparent 50%);
          background-size: 8px 1px
        }

        &::after{
          bottom: 0;
        }

        &::before{
          top: 0;
        }
      }
    }

    &__field-bottom{
      margin-top: 0;
      display: flex;
      align-items: center;
      height: 40px;
      order: -1;
    }

    &__field-text{
      margin-top: 5px;
    }

    &__col-3{
      margin-top: 15px;
      margin-left: 0;
      width: 100%;
    }

    &__col-4{
      margin-top: 20px;
      width: 100%;
      margin-left: 0;
    }

    &__btn{
      width: 100%;
    }

    &__arrow{
      flex-shrink: 0;
      background-color: #fff;

      &:focus, &:active{
        background-color: #fff;
        background-image: url('/img/css-sprite.svg#arrow-b');
      }

      &:hover, &.is-active{
        background-image: url('/img/css-sprite.svg#arrow-b-gray');
        background-color: $black;
      }
    }
  }

  @media all and(max-width: 650px){
    column-count: 1;
  }

  @media all and (max-width: $screen-width-s){
    &__logo-wrap{
      height: 80px;
    }

    &__company{
      margin-top: 10px;
      font-size: 12px;
    }

    &__field-title{
      font-size: 12px;
    }

    &__field-text{
      margin-top: 0;
    }

    &__field-link{
      font-size: 12px;
    }

    &__conditions-list{
      font-size: 12px;
    }

    &__col-3{
      margin-top: 10px;
    }
  }
}