.company-banner{
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ECEFF1;
  border-radius: 5px;
  padding: 20px 20px 40px;

  &__img-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding: 25px 20px;
  }

  &__img{}

  &__title{
    margin-top: 20px;
    text-align: center;
  }

  &__btn-wrap{
    margin-top: 30px;
    display: flex;
    justify-content: center;
  }

  &__btn{}

  &__time{
    position: relative;
    padding-left: 26px;
    margin-top: 20px;
    text-align: center;
    color: @important-text;
    font-size: 14px;
    
    &::before{
      content: '';
      position: absolute;
      left: 0;
      background-image: url('/img/css-sprite.svg#timer');
      width: 16px;
      height: 20.3px;
    }
  }
}