.companies-description{
  background-color: $light-gray;
  border-radius: 5px;
  padding: 20px 25px 25px;

  &__list{
    column-count: 2;
    column-gap: 8%;
  }

  &__item{}

  &__item-inner{
    display: inline-block;
    padding-bottom: 30px;
  }

  &__title{
    padding-bottom: 5px;
  }

  &__text{
    font-size: 16px;
  }

  &__show-more-wrap{
    margin-top: -10px;
  }

  &__show-more{
    font-weight: $fw-bold;
    font-size: 16px;
  }

  @media all and (max-width: 950px){
    padding: 10px 10px 20px;
    border-radius: 0;

    &__list{
      column-count: 1;
    }

    &__title{
      font-size: 12px;
    }

    &__text{
      font-size: 12px;
    }

    &__item-inner{
      padding-bottom: 10px;
    }

    &__show-more-wrap{
      margin-top: 0;
    }

    &__show-more{
      font-size: 12px;
    }
  }

  @media all and (max-width: 950px){
    &__title{
      font-size: 14px;
    }

    &__text{
      font-size: 14px;
    }

    &__show-more{
      font-size: 14px;
    }
  }

  @media all and (max-width: $screen-width-s){
    &__title{
      font-size: 12px;
      padding-bottom: 0;
    }

    &__text{
      font-size: 12px;
    }

    &__show-more{
      font-size: 12px;
    }

    &__item-inner{
      padding-bottom: 15px;
    }
  }
}