.company-big-banner{
  flex-direction: column;
  align-items: center;
  background: #ECEFF1;
  border-radius: 5px;
  padding: 20px;

  &__title{
    text-align: center;
  }

  &__btn-wrap{
    margin-top: 10px;
    display: flex;
    justify-content: center;
  }

  &__btn{}

  &__time{
    position: relative;
    padding-left: 26px;
    margin-top: 10px;
    text-align: center;
    color: @important-text;
    font-size: 14px;

    &::before{
      content: '';
      position: absolute;
      left: 0;
      background-image: url('/img/css-sprite.svg#timer');
      width: 16px;
      height: 20.3px;
    }
  }

  @media all and (max-width: @screen-width-s){
    position: relative;
    border-radius: 0;
    padding: 20px 0;

    &::before, &::after{
      position: absolute;
      content: '';
      top: 0;
      width: 20px;
      height: 100%;
      background-color: @light-gray;
    }

    &::before{
      left: -20px;
    }

    &::after{
      right: -20px;
    }

    &__btn-wrap{
      width: 100%;
      max-width: 280px;
    }
  }
}