.company-menu{
  &__btn-list{
    margin-left: -10px;
    display: flex;
    flex-wrap: wrap;
    width: calc(100% + 40px);
  }

  &__btn-item{
    padding-right: 20px;
    padding-bottom: 10px;
  }

  &__btn{}

  @media all and (max-width: 1023px){
    overflow-x: auto;

    &__btn-list{
      flex-wrap: nowrap;
      width: 100%;
    }
  }

  @media all and (max-width: @screen-width-s){
    width: calc(100% + 20px);

    &__btn-item{
      padding-right: 10px;
      padding-bottom: 0;
    }
  }
}