.company-reviews{
  &__header{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }

  &__title{}

  &__link{
    position: relative;
    padding-bottom: 3px;

    &::before{
      content: '';
      position: absolute;
      left: -45px;
      width: 36px;
      height: 32px;
      background-image: url('/img/css-sprite.svg#company-reviews');
    }
  }

  &__list{
    margin-top: 30px;
  }

  &__item{
    background: #ECEFF1;
    border-radius: 5px;
    padding: 30px 30px 40px;

    & + &{
      margin-top: 20px;
    }
  }

  &__item-header{
    display: flex;
  }

  &__info{
    display: flex;
  }

  &__name{
    font-weight: @fw-bold;
    color: @important-text;
    padding-right: 20px;
  }

  &__date{
    font-size: 14px;
    color: @minor-text;
    padding-top: 5px;
  }

  &__rating{
    margin-left: auto;
    width: 100px;
  }

  &__description{
    margin-top: 20px;
  }

  @media all and (max-width: @screen-width-n){
    &__link{
      padding-bottom: 0;

      &::before{
        left: -40px;
        top: -4px;
        width: 28px;
        height: 28px;
      }
    }

    &__date{
      padding-top: 2px;
    }
  }

  @media all and (max-width: @screen-width-s){
    &__header{
      flex-direction: column;
      align-items: flex-start;
    }

    &__link{
      margin-top: 10px;

      &::before{
        left: auto;
        right: -40px;
      }
    }

    &__list{
      margin-top: 10px;
    }

    &__item{
      position: relative;
      border-radius: 0;
      padding: 20px 0 20px;

      & + &{
        margin-top: 10px;
      }

      &::before, &::after{
        content: '';
        position: absolute;
        top: 0;
        width: 20px;
        height: 100%;
        background-color: @light-gray;
      }

      &::before{
        left: -20px;
      }

      &::after{
        right: -20px;
      }
    }

    &__item-header{
      flex-direction: column;
    }

    &__date{
      margin-left: auto;
      font-size: 12px;
    }

    &__rating{
      margin-left: 0;
      margin-top: 5px;
      width: 80px;
    }

    &__description{
      margin-top: 10px;
    }
  }
}