.company-getting{
  &__title{}

  &__list{
    display: flex;
    flex-wrap: wrap;
  }

  &__item{
    width: 30%;
    margin-top: 20px;
    margin-left: 5%;

    &:nth-child(3n + 1){
      margin-left: 0;
    }
  }

  @media all and (max-width: 700px){
    &__item{
      width: 100%;
      margin-left: 0;
    }
  }
}