.company-advantages{
  &__title{}

  &__list{
    display: flex;
    flex-wrap: wrap;
  }

  &__item{
    margin-top: 20px;
    width: 50%;

    &:nth-child(2n + 1){
      padding-right: 40px;
    }
  }

  @media all and (max-width: 700px){
    &__item{
      width: 100%;
    }
  }
}