.company-addition{

  &__title{}

  &__links-list{
    margin-top: 50px;
    counter-reset: li;
  }

  &__links-item{
    &::before{
      counter-increment: li;
      content: counters(li,".") ". ";
    }

    & + &{
      margin-top: 10px;
    }
  }

  &__link{
    padding-left: 5px;
  }

  &__list{
    counter-reset: li;
  }

  &__item{
    margin-top: 50px;
  }

  &__item-title{
    &::before{
      counter-increment: li;
      content: counters(li,".") ". ";
    }
  }

  &__description{
    margin-top: 20px;
  }

  @media all and (max-width: @screen-width-n){
    &__links-list{
      margin-top: 30px;
    }
  }

  @media all and (max-width: @screen-width-s){
    &__links-list{
      margin-top: 10px;
    }

    &__item{
      margin-top: 20px;
    }

    &__description{
      margin-top: 10px;
    }
  }
}