.company-about{
  &__title{}

  &__text{
    margin-top: 30px;
  }

  &__list{
    margin-top: 30px;
  }

  @media all and (max-width: @screen-width-s){
    &__text{
      margin-top: 10px;
    }

    &__list{
      margin-top: 10px;
    }
  }
}