.conditions-banner{
  background-color: $light-gray;
  border-radius: 5px;
  padding: 30px 30px 20px;

  &__title{}

  &__list{
    margin-top: 15px;
  }

  &__item{
    & + &{
      margin-top: 13px;
    }
  }

  &__label{
    display: flex;
    align-items: flex-start;

    &:hover{
      .conditions-banner{
        &__label-text{
          color: $dark-blue;
        }
      }
    }
  }

  &__checkbox{
    margin-top: 2px;
    flex-shrink: 0;
  }

  &__label-text{
    padding-top: 1px;
    margin-left: 10px;
    font-size: 14px;
    color: $important-text;
  }

  &__btn{
    margin-top: 25px;
    width: 100%;
  }

  &__message{
    margin-top: 10px;
    text-align: center;
    font-size: 12px;
  }
}