.discount-slide-mobile{
  display: flex!important;
  //margin-bottom: 10px;

  &:first-child{
    //padding-right: 5px;
  }

  &:last-child{
    //padding-left: 5px;
  }

  &__wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1BA0A5;
    width: 100%;
    border-radius: 5px;
    padding: 20px 10px 10px;
    text-align: center;
  }

  &__title-wrap{
    height: 70px;
    font-size: 36px;
    flex-shrink: 0;
  }

  &__title{
    background-color: #FFB300;
    border-radius: 3px;
    line-height: 1.2;
    padding: 0 5px;
    color: #37474F;
    font-weight: $fw-bold;

    &.is-title{
      font-size: 18px;
    }
  }

  &__text-wrap{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 80px;
    color: #fff;
    max-width: 150px;
  }

  &__text{
    font-size: 12px;
  }

  &__minor-text{
    margin-top: 20px;
    font-size: 10px;
  }
}