.discount-slide{
  width: 240px;
  outline: none;
  height: 100%;

  &__wrap{
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #1BA0A5;
    border-radius: 5px;
    min-height: 270px;
    padding: 30px 20px 20px;
    text-align: center;
  }
  
  &__title-wrap{
    height: 145px;
    font-size: 72px;
    flex-shrink: 0;
  }

  &__title{
    background-color: #FFB300;
    border-radius: 5px;
    line-height: 1.3;
    color: #37474F;
    font-weight: $fw-bold;

    &.is-title{
      font-size: 36px;
    }
  }

  &__text-wrap{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 125px;
    color: #fff;
  }

  &__text{
    font-size: 18px;
    white-space: normal;
  }

  &__minor-text{
    margin-top: 20px;
    font-size: 14px;
  }

  @media all and (max-width: $screen-width-s) {
    &__wrap{
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: #1BA0A5;
      border-radius: 5px;
      padding: 20px 10px 10px;
      text-align: center;
      min-height: auto;
    }

    &__title-wrap{
      height: 70px;
      font-size: 36px;
      flex-shrink: 0;
    }

    &__title{
      background-color: #FFB300;
      border-radius: 3px;
      line-height: 1.2;
      padding: 0 5px;
      color: #37474F;
      font-weight: $fw-bold;

      &.is-title{
        font-size: 18px;
      }
    }

    &__text-wrap{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      min-height: 80px;
      color: #fff;
      max-width: 150px;
    }

    &__text{
      font-size: 12px;
    }

    &__minor-text{
      margin-top: 20px;
      font-size: 10px;
    }
  }
}