.footer{
  background-color: $black;

  &__wrap{
    padding-top: 50px;
    padding-bottom: 50px;
  }

  &__cols-wrap{
    font-size: 16px;
    display: flex;
    justify-content: space-between;
  }

  &__col-1{}

  &__title{
    color: $gray;

    br{
      display: none;
    }
  }

  &__social-wrap{
    margin-top: 10px;
    display: flex;
  }

  &__social-text{
    color: $gray;
  }

  &__social-list{
    display: flex;
  }

  &__social-item{
    margin-left: 20px;
  }

  &__social-link{}

  &__col-2{}

  &__nav-list{
    display: flex;
  }

  &__nav-item{
    margin-left: 30px;
  }

  &__nav-link{}

  &__bottom{
    margin-top: 70px;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
  }

  &__copy{
    color: $dark-gray;
  }

  &__copy-link{
    br{
      display: none;
    }
  }

  @media all and (max-width: 1200px){
    &__bottom{
      flex-direction: column;
    }

    &__copy-link{
      margin-top: 10px;
    }
  }

  @media all and (max-width: 1050px){
    &__nav-list{
      display: block;
      column-count: 2;
      column-gap: 50px;
    }

    &__nav-item{
      margin-left: 0;
      margin-bottom: 10px;
    }
  }

  @media all and (max-width: 930px){
    &__nav-list{
      column-gap: 20px;
    }
  }

  @media all and (max-width: 860px){
    &__cols-wrap{
      flex-direction: column;
    }

    &__nav-list{
      max-width: 370px;
      margin-top: 30px;
    }
  }

  @media all and (max-width: $screen-width-s){
    &__wrap{
      padding-top: 20px;
      padding-bottom: 20px;
    }

    &__cols-wrap{
      font-size: 14px;
    }

    &__col-1{
      text-align: center;
    }

    &__title{
      &--dot{
        display: none;
      }

      br{
        display: block;
      }
    }

    &__social-wrap{
      flex-direction: column;
    }

    &__social-text{
      margin-top: 10px;
    }

    &__social-list{
      margin-top: 5px;
      justify-content: center;
    }

    &__social-item{
      margin-left: 0;

      & + &{
        margin-left: 20px;
      }
    }

    &__col-2{
      margin: 0 auto;
    }

    &__nav-list{
      column-count: 1;
    }

    &__nav-item{
      text-align: center;
    }

    &__bottom{
      margin-top: 30px;
      text-align: center;
    }

    &__copy{
    }

    &__copy-link{
      margin-top: 20px;
      &--dot{
        display: none;
      }

      br{
        display: block;
      }
    }
  }
}