.header{
  position: fixed;
  width: 100%;
  height: 100px;
  background-color: $black;
  z-index: 10;
  transition: all 0.2s, padding-right 0s;

  &.is-fixed{
    height: 80px;

    & .header{
      &__wrap{
        height: 80px;
      }
    }
  }

  &__wrap{
    position: relative;
    display: flex;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    transition: 0.2s;
  }

  &__logo-wrap{
    font-size: 0;
  }

  &__logo{}

  &__nav{}

  &__elements{
    display: flex;
    align-items: center;
  }

  &__btn{}

  &__discount-wrap{
    position: relative;
    margin-left: 40px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    outline: none;

    &.is-unviewed{
      position: relative;

      &::before, &::after{
        content: '';
        position: absolute;
        border-radius: 50%;
      }

      &::before{
        right: -2px;
        top: -2px;
        width: 16px;
        height: 16px;
        background-color: $black;
      }

      &::after{
        right: 0;
        top: 0;
        width: 12px;
        height: 12px;
        background-color: $dark-yellow;
      }
    }

    &:hover, &.is-active{
      & .header__discount-img{
        fill: $dark-gray;
      }
    }
  }

  &__discount-img{
    width: 32px;
    height: 32px;
    fill: #546E7A;
    transition: fill 0.1s;
  }

  &__discount-inner{
    padding-top: 30px;
    display: none;

    &.is-open{
      display: block;
    }
  }

  &__discount-list{
    position: absolute;
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid #90A4AE;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
    right: -80px;
    z-index: 20;
    width: 405px;
  }

  &__discount-item{}

  &__discount-link{
    position: relative;
    padding: 9px 50px 9px 10px;
    display: flex;
    align-items: center;
    color: #37474F;
    font-size: 14px;
    outline: none;
    transition: 0.1s;
    font-weight: $fw-bold;

    &:hover, &:focus, &:active{
      background-color: rgba(45, 156, 219, 0.25);
    }

    &.is-viewed{
      font-weight: $fw-norm;

      &::before{
        background-color: #C4C4C4;
      }
    }

    &::before{
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 10px;
      width: 10px;
      height: 10px;
      background-color: $yellow;
      border-radius: 50%;
    }

    & .is-check-mark{
      position: relative;

      &::after{
        position: absolute;
        content: '';
        width: 16px;
        height: 16px;
        top: -1px;
        right: -20px;
        background-image: url('/img/css-sprite.svg#check-mark');
      }
    }
  }

  &__search-link{
    margin-left: 20px;
    width: 30px;
    height: 30px;
    outline: none;
    cursor: pointer;

    &:hover, &:focus{
      & .header__search-link-img{
        fill: $dark-gray;
      }
    }
  }

  &__discount-span{}

  &__search-link-img{
    width: 30px;
    height: 30px;
    fill: #546E7A;
    transition: fill 0.1s;
  }

  &__hum{
    display: none;
    outline: none;
    font-size: 0;

    &:hover, &:focus{
      .header{
        &__hum-img{
          fill: $dark-gray;
        }
      }
    }
  }

  &__hum-img{
    width: 32px;
    height: 32px;
    fill: #546E7A;
    margin-left: 20px;
    cursor: pointer;
  }

  &__search{
    position: absolute;
    right: 30px;
    left: 30px;
    visibility: hidden;
    opacity: 0;
    transition: 0.2s;

    &.is-open{
      visibility: visible;
      opacity: 1;
    }
  }

  &__search-input{
    font-size: 24px;
    padding: 0 70px 0 20px;
  }

  &__search-btn{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    width: 70px;
    height: 100%;
    cursor: pointer;
    outline: none;

    &:hover, &:focus{
      .header{
        &__search-img{
          fill: $dark-yellow;
        }
      }
    }
  }

  &__search-img{
    width: 50%;
    height: 50%;
    fill: $dark-blue;
    transition: 0.1s;
  }

  @media all and (max-width: 1200px){
    height: 50px;

    &.is-fixed{
      height: 50px;

      & .header{
        &__wrap{
          height: 50px;
        }
      }
    }

    &__btn{
      display: none;
    }

    &__hum{
      display: block;
    }

    &__wrap{
      height: 50px;
      padding: 0 10px;
    }

    &__discount-inner{
      padding-top: 50px;
    }

    &__discount-list{
      min-width: 100vw;
      max-width: 320px;
      right: -88px;
    }

    &__discount-link{
      white-space: normal;
      font-size: 12px;
    }

    &__logo{
      width: 110px;
    }

    &__discount-wrap{
      display: flex;
      align-items: center;
      width: 24px;

      &.is-unviewed{
        &::before{
          right: -1px;
          top: 2px;
          width: 13px;
          height: 13px;
        }

        &::after{
          right: 1px;
          top: 4px;
          width: 9px;
          height: 9px;
        }
      }

    }

    &__discount-img{
      width: 24px;
      height: 24px;
    }

    &__search-link{
      display: flex;
      align-items: center;
      width: 24px;
      margin-left: 15px;
    }

    &__search-link-img{
      width: 24px;
      height: 24px;
    }

    &__hum-img{
      width: 24px;
      margin-left: 15px;
    }

    &__search{
      right: 5px;
      left: 5px;
    }

    &__search-input{
      padding: 0 50px 0 10px;
      height: 40px;
      font-size: 16px;
    }

    &__search-btn{
      width: 50px;
    }

    &__search-img{
      width: 25px;
      height: 25px;
    }
  }
}