.info-publications{
  margin-top: 100px;
  margin-bottom: 100px;

  &__list{}

  &__item{
    position: relative;

    &.is-not-last{
      &::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
        transform: rotate(-180deg);
      }
    }

    & + &{
      margin-top: 40px;
      display: none;
    }
  }

  &__item-title{}

  &__item-img{
    display: block;
    margin-top: 25px;
  }
}