.main-calculator{
  background-color: #fff;
  border-radius: 5px 5px 0 0;
  padding: 50px 50px 80px;
  width: 500px;

  &__wrap{
    max-width: 380px;
  }

  &__title{}

  &__subtitle{
    margin-top: 25px;
    font-size: 16px;
  }

  &__calculator{
    margin-top: 5px;
    max-width: 300px;
  }

  &__sum {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    color: #90A4AE;
    font-size: 14px;
  }

  &__sum-text {}

  &__check-block{
    margin-top: 40px;
  }

  &__check-block-title{}

  &__check-block-list{
    display: flex;
    flex-wrap: wrap;
  }

  &__check-block-item{
    margin-top: 10px;
    margin-right: 10px;
  }

  &__check-block-checkbox{
    &:focus{
      & ~ .main-calculator__check-block-btn{
        background-color: $gray;
      }
    }

    &:checked{
      & ~ .main-calculator__check-block-btn{
        background-color: $black;
        color: #fff;
      }
    }
  }

  &__check-block-btn{}

  &__btn{
    margin-top: 40px;
  }

  @media all and (max-width: 1000px){
    margin-top: 100px;
    width: 100%;
    padding: 30px 30px;

    &__wrap{
      display: flex;
      max-width: 100%;
    }

    &__top{
      width: 50%;
      padding-right: 30px;
    }

    &__bottom{
      width: 50%;
    }

    &__check-block{
      margin-top: 10px;
    }
  }

  @media all and (max-width: $screen-width-n){
    &__check-block{
      margin-top: 5px;
    }
  }

  @media all and (max-width: 640px){
    &__wrap{
      display: block;
      max-width: 400px;
    }

    &__top{
      width: 100%;
    }

    &__bottom{
      width: 100%;
    }
  }

  @media all and (max-width: $screen-width-s){
    position: relative;
    margin-top: 40px;
    border-radius: 0 0 0 0;
    padding: 20px 10px 0;
    
    &::before, &::after{
      content: '';
      position: absolute;
      top: 0;
      width: 10px;
      height: 100%;
      background-color: #fff;
    }

    &::before{
      left: -10px;
    }

    &::after{
      right: -10px;
    }

    &__title{
      font-size: 24px;
      text-align: center;
    }

    &__top{
      padding-right: 0;
    }

    &__wrap{
      max-width: 100%;
    }

    &__subtitle{
      margin-top: 10px;
      font-size: 14px;
    }

    &__check-block{
      margin-top: 20px;
    }

    &__check-block-title{
      font-size: 18px;
    }

    &__calculator{
      max-width: 100%;
    }

    &__btn{
      height: 50px;
      font-size: 16px;
      width: 100%;
      margin-top: 20px;
    }
  }
}