.main-news{
  margin-top: 50px;

  &__wrap{}

  &__title{}

  &__samples-list{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
  }

  &__sample-item{
    padding-bottom: 20px;
    padding-right: 30px;
  }

  &__sample-btn{}

  &__cols-wrap{
    margin-top: 30px;
  }

  @media all and (max-width: $screen-width-n){
    margin-top: 40px;

    &__cols-wrap{
      margin-top: 20px;
    }

    &__samples-list{
      margin-top: 20px;
    }

    &__sample-item{
      padding-bottom: 10px;
      padding-right: 20px;
    }
  }
  
  @media all and (max-width: $screen-width-s){
    &__title{
      text-align: center;
    }

    &__samples-list{
      margin-top: 10px;
      width: calc(100% + 15px);
    }

    &__sample-item{
      padding-right: 10px;
    }

    &__cols-wrap{
      margin-top: 10px;
    }
  }
}