.main-product{
  margin-top: 50px;

  &__wrap{}

  &__title{}

  &__list{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
  }

  &__item{
    width: 300px;

    & + &{
      margin-left: 20px;
    }
  }

  &__img-wrap{
    padding-bottom: 60%;
  }

  &__img{
    //border-radius: 5px;
  }

  &__subtitle{
    margin-top: 20px;
  }

  &__text{
    margin-top: 10px;
  }

  &__btn-wrap{
    margin-top: 20px;
    display: flex;
  }

  &__btn{}

  @media all and (max-width: $screen-width-n){
    margin-top: 40px;

    &__list{
      margin-top: 30px;
    }
  }

  @media all and (max-width: 700px){
    &__title{
      text-align: center;
    }

    &__list{
      flex-wrap: wrap;
    }

    &__item{
      width: 100%;

      & + &{
        margin-top: 40px;
        margin-left: 0;
      }
    }

    &__img-wrap{
      margin: 0 auto;
      width: 67%;
      padding-bottom: 39.3%;
    }

    &__btn-wrap{
      margin-top: 10px;
      justify-content: center;
    }

    &__subtitle{
      max-width: 430px;
      margin: 20px auto 0;
      text-align: center;
    }

    &__text{
      max-width: 430px;
      margin: 10px auto 0;
      text-align: center;
    }
  }

  @media all and (max-width: $screen-width-s){
    &__list{
      margin-top: 20px;
    }
  }
}