.main-title{
  background-color: $space-gray;
  background-image: url('/dev-img/1280x720.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &__wrap{}

  &__inner{
    height: 650px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    max-width: 1090px;
    margin: 0 auto;
  }

  &__col-1{
    padding-bottom: 80px;
  }

  &__title{
    color: #fff;
  }

  &__col-2{
    margin-bottom: -1px;
  }

  @media all and (max-width: 1000px){
    &__inner{
      flex-direction: column;
      height: auto;
    }

    &__col-1{
      margin-top: 30px;
      width: 100%;
      padding-bottom: 0;
    }

    &__title{
      max-width: 550px;

      br{
        display: none;
      }
    }
  }

  @media all and (max-width: $screen-width-n){
    &__title{
      max-width: 450px;
    }
  }

  @media all and (max-width: $screen-width-s){
    &__title{
      text-align: center;
      margin: 5px auto 0;
      max-width: 370px;
    }
  }
}