.menu{
  display: none;

  &.is-open{
    .menu{
      &__bg{
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1000;
      }

      &__wrap{
        transform: translateX(-280px);
      }
    }
  }

  &__bg{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -200;
    transition: 0.2s;
  }

  &__wrap{
    position: fixed;
    top: 0;
    right: -280px;
    width: 280px;
    background-color: @black;
    min-height: 100vh;
    height: 100%;
    padding: 50px 40px;
    overflow-y: auto;
    transition: 0.2s;
    z-index: 1001;
  }

  &__close{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    width: 45px;
    height: 50px;
    cursor: pointer;
    outline: none;

    &::before, &:after{
      position: absolute;
      content: '';
      width: 2px;
      height: 25px;
      background-color: #B0BEC5;
      border-radius: 1px;
    }

    &::before{
      transform: rotate(-45deg);
    }

    &::after{
      transform: rotate(45deg);
    }
  }

  &__inner{}

  &__main-list{}

  &__main-item{
    font-size: 16px;

    & + &{
      margin-top: 8px;
    }
  }

  &__main-link{
    display: block;
  }

  &__additional-list{
    margin-top: 35px;
  }

  &__additional-item{
    font-size: 12px;

    & + &{
      margin-top: 6px;
    }
  }

  &__additional-link{
    display: block;
  }

  &__social-list{
    margin-top: 45px;
    display: flex;
  }

  &__social-item{
    & + &{
      margin-left: 20px;
    }
  }

  &__social-link{}

  &__social-img{
    width: 48px;
    height: 48px;
    fill: #FFB300;
  }

  @media all and (max-width: 1200px){
    display: block;
  }
}