.new-discounts{
  background-color: $light-gray;
  border-radius: 5px;
  padding: 20px 20px 25px 25px;

  &__title{}

  &__inner{
    margin-top: 20px;
    max-height: 600px;
    overflow-y: auto;
  }

  &__list{}

  &__item{
    line-height: 1.3;
    padding-right: 5px;

    & + &{
      margin-top: 24px;
    }
  }

  &__link{
    font-size: 16px;
  }

  &__date{
    margin-top: 3px;
    font-size: 14px;
  }

  &__show-more-wrap{
    margin-top: 20px;
  }

  &__show-more{
    font-size: 16px;
  }
}