.personal{
  &__wrap{
    padding-top: 100px;
  }

  &__title{
    text-align: center;
  }

  &__text{
    margin: 30px auto 0;
    max-width: 800px;
    font-size: 24px;
    text-align: center;
  }

  &__btn-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__btn{
    margin: 50px auto 0;
  }

  &__btn-time{
    margin-top: 20px;
    position: relative;
    font-size: 16px;
    padding-left: 30px;
    
    &::before{
      content: '';
      position: absolute;
      left: 0;
      width: 16px;
      height: 20.5px;
      background-image: url('/img/css-sprite.svg#timer');
    }
  }

  &__clients-slider{
    margin-top: 60px;
    min-height: 78px;

    &.slick-initialized{
      .personal{
        &__clients-slide{
          display: flex!important;
        }
      }
    }
  }

  &__clients-slide{
    display: flex!important;
    justify-content: flex-start;
    align-items: center;
    padding: 15px 18px;
    background-color: @light-gray;
    border-radius: 3px;
    outline: none;
    min-width: 240px;

    & + &{
      display: none!important;
      margin-left: 10px;
    }
  }

  &__clients-col-1{
    flex-shrink: 0;
  }

  &__clients-img{
    display: block;
    width: 48px;
  }

  &__clients-col-2{
    padding-left: 10px;
    font-size: 12px;
    color: @important-text;
  }

  &__clients-title{
    font-weight: @fw-bold;
  }

  &__clients-text{}

  &__company{
    position: relative;
    margin-top: 30px;
    background-color: @light-gray;
    padding: 40px 0 50px;

    &::before, &::after{
      position: absolute;
      content: '';
      top: 0;
      height: 100%;
      width: 30vw;
      background-color: @light-gray;
      z-index: -1;
    }

    &::before{
      left: -30vw;
    }

    &::after{
      right: -30vw;
    }
  }

  &__company-title{
    text-align: center;
  }

  &__company-slider{
    margin-top: 20px;

    &.slick-initialized{
      .personal{
        &__company-slide{
          display: flex!important;
        }
      }
    }

    &--mobile{
      display: none;
    }
  }

  &__company-slide{
    display: flex!important;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 0 35px;
    outline: none;
    max-width: 280px;
    width: 100%;
    height: 100px;

    & + &{
      display: none!important;
      margin-left: 20px;
    }
  }

  &__company-img{}

  &__item-wrap{
    min-height: 920px;
  }

  @media all and (max-width: @screen-width-n){
    &__wrap{
      padding-top: 40px;
    }

    &__item-wrap{
      min-height: 700px;
    }

    &__text{
      margin-top: 20px;
      font-size: 18px;
      max-width: 500px;
    }

    &__clients-slider{
      margin-top: 40px;
    }

    &__btn{
      margin: 40px auto 0;
    }
  }

  @media all and (max-width: @screen-width-s){
    &__wrap{
      padding-top: 20px;
    }

    &__item-wrap{
      min-height: auto;
    }

    &__clients-slider{
      margin-left: -10px;
      width: calc(100% + 20px);
    }

    &__company-slider{
      margin-left: -10px;
      width: calc(100% + 20px);
    }

    &__text{
      font-size: 16px;
      padding: 0 10px;
    }

    &__clients-slider{
      margin-top: 20px;
    }

    &__btn{
      max-width: 280px;
      margin: 40px auto 0;
    }

    &__company{
      margin-top: 40px;
      padding: 20px 0 30px;
    }

    &__company-slider{
      margin-top: 10px;
      display: none;

      &--mobile{
        display: block;

        .slick-slide{
          outline: none;
        }
      }
    }

    &__company-slide{
      max-width: 150px;
      padding: 0 20px;
      height: 50px;
      margin-left: 10px;
      margin-top: 10px;
    }
  }
}