.personal-item{
  display: none;
  flex-direction: column;
  justify-content: space-between;

  &__top{}

  &__bottom{}

  &__slider{
    .slick-track{
      display: flex!important;
    }
  }

  &__slide{
    outline: none;
    padding-top: 100px;
    height: auto!important;
  }

  &__title{
    text-align: center;
  }

  &__highlighting{
    font-size: 14px;
    max-width: 580px;
    margin: 10px auto 0;
    text-align: center;
    color: @dark-yellow;
  }

  &__text{
    margin: 30px auto 0;
    font-size: 24px;
    text-align: center;
    max-width: 850px;
  }

  &__field-list{
    margin: 30px auto 0;
    max-width: 580px;

    &--df{
      display: flex;
      justify-content: space-between;

      .personal-item__field-item + .personal-item__field-item{
        margin-top: 0;
      }
    }
  }

  &__field-item{
    & + &{
      margin-top: 4%;
    }

    &--w24{
      width: 24%;
    }

    &--w49{
      width: 49%;
    }
  }

  &__field-input{
    &--big{
      font-size: 24px;
    }
  }

  &__check-list{
    margin: 30px auto 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 580px;

    &--big{
      max-width: 660px;
    }
  }

  &__check-item{
    width: 48.3%;

    &:nth-child(n + 3){
      margin-top: 3.4%;
    }

    &--w100{
      width: 100%;
    }
  }

  &__consent-wrap{
    margin-top: 40px;
    display: flex;
    justify-content: center;
  }

  &__consent{
    display: flex;
    align-items: flex-start;
  }

  &__consent-checkbox{
    flex-shrink: 0;
    margin-top: 4px;
  }

  &__consent-text{
    padding-top: 2px;
    padding-left: 10px;
    font-size: 14px;
  }

  &__arrow-r{
    margin: 30px auto 0;
    max-width: 580px;
    width: 100%;

    &--mw660{
      max-width: 660px;
    }

    &.is-hide{
      display: none!important;
    }

    &.slick-disabled{
      display: none!important;
    }

    & .arrow-r{
      margin-right: -15px;
      padding-right: 37px;
      background-image: url('/img/css-sprite.svg#arrow-r-white');
      background-repeat: no-repeat;
      background-position: right center;
      background-size: 26px 15px;
    }
  }

  &__arrow-skip{
    margin: 10px auto 0;
    max-width: 580px;
    width: 100%;

    & .arrow-r-skip{
      margin-right: -15px;
      padding-right: 37px;
      background-image: url('/img/css-sprite.svg#arrow-r-text');
      background-repeat: no-repeat;
      background-position: right center;
      background-size: 26px 15px;
    }
  }

  &__arrow-l{
    display: block!important;
    margin: 10px auto 0;
    max-width: 580px;
    width: 100%;
    font-size: 14px;

    &--mw660{
      max-width: 660px;
    }

    &.slick-disabled{
      display: none!important;
    }

    & .arrow-l{
      margin-left: -15px;
      padding-left: 35px;
      background-image: url('/img/css-sprite.svg#arrow-l-text');
      background-repeat: no-repeat;
      background-position: left center;
      background-size: 26px 15px;
    }
  }

  &__scale{
    position: relative;
    margin-top: 50px;
    padding: 20px 0 40px;
    background-color: @light-gray;

    &::before, &::after{
      content: '';
      position: absolute;
      top: 0;
      height: 100%;
      width: 30vw;
      background-color: @light-gray;
    }

    &::before{
      left: -30vw;
    }

    &::after{
      right: -30vw;
    }
  }

  &__scale-title{
    text-align: center;
    color: #37474F;
    font-weight: @fw-medium;
    font-size: 18px;
    line-height: 1.2;
  }

  &__scale-wrap{
    margin: 20px auto 0;
    max-width: 580px;
    background-color: @gray;
    height: 20px;
    border-radius: 10px;
    overflow: hidden;
  }

  &__scale-counter{
    position: relative;
    width: 0;
    background-color: @dark-blue;
    height: 100%;
    border-radius: 10px;
    transition: width 0.5s;

    &::before{
      content: '';
      position: absolute;
      top: 6px;
      right: 6px;
      width: 8px;
      height: 5px;
      border-bottom: 2px solid #fff;
      border-left: 2px solid #fff;
      transform: rotate(-45deg);
    }
  }

  @media all and (max-width: @screen-width-n){
    &__slide{
      padding-top: 40px;
    }

    &__text{
      margin-top: 20px;
      font-size: 18px;
      max-width: 500px;
    }
  }

  @media all and (max-width: 600px){
    &__check-item{
      width: 100%;

      & + &{
        margin-top: 2%;
      }
    }
  }

  @media all and (max-width: @screen-width-s){
    &__slide{
      padding-top: 20px;
    }

    &__arrow-r{
      margin-top: 10px;
    }

    &__text{
      font-size: 16px;
    }

    &__check-list{
      margin-top: 20px;
      padding-bottom: 20px;
    }

    &__consent-wrap{
      margin-top: 0;
      padding-bottom: 10px;
    }

    &__field-list{
      padding-bottom: 20px;
    }

    &__field-input{
      height: 50px;

      &--big{
        font-size: 18px;
      }
    }

    &__slider{
    }

    &__slide{
      height: 100%!important;
    }

    &__scale{
      margin-top: 30px;
    }
  }

  @media all and (max-width: 370px){
    &__consent-text{
      max-width: 200px;
    }
  }
}