.popup-question{
  padding: 40px 20px 80px;



  &__form{
    max-width: 500px;
    margin: 0 auto;
  }
  
  &__title{
    text-align: center;
  }

  &__text{
    margin-top: 20px;
    font-size: 16px;
    text-align: center;
    color: $important-text;
  }
  
  &__field-wrap{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
  }
  
  &__field{
    width: 200px;

    &--email{
      width: 230px;
    }
  }
  
  &__field-text{
    font-weight: $fw-bold;
    color: $important-text;
  }
  
  &__input-wrap{
    margin-top: 5px;
  }
  
  &__input{}
  
  &__hint{}

  &__text-wrap{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__file-label{}

  &__file-link{
    font-size: 12px;
    cursor: pointer;
  }

  &__textarea{
    height: 150px;
  }
  
  &__bottom{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  &__bottom-hint{
    opacity: 0;
    color: $error;
  }
  
  &__btn{
    margin-left: 20px;
    flex-shrink: 0;
    padding: 0 30px;
  }

  @media all and (max-width: $screen-width-s){
    padding-top: 30px;

    &__text{
      margin-top: 10px;
      padding-bottom: 10px;
      font-size: 14px;
    }

    &__field-text{
      font-size: 16px;
    }

    &__textarea{
      font-size: 16px;
      height: 100px;
    }

    &__field-wrap{
      margin-top: 10px;
      flex-wrap: wrap;
    }

    &__field{
      width: 100%;

      & + &{
        margin-top: 10px;
      }
    }

    &__input{
      font-size: 16px;
    }

    &__text-wrap{
      margin-top: 10px;
    }

    &__bottom{
      flex-wrap: wrap;
    }

    &__btn{
      order: -1;
      width: 100%;
      margin-left: 0;
      font-size: 16px;
    }
    
    &__bottom-hint{
      margin: 10px auto 0;
    }
  }
}