.popup-execution{
  max-width: 360px;

  &__form{
    padding: 30px 30px 20px;
  }

  &__row-1{
    max-width: 260px;
    margin: 0 auto;
  }

  &__title{
    font-size: 18px;
    text-align: center;
    margin-bottom: 25px;
  }

  &__field{
    & + &{
      margin-top: 10px;
    }
  }

  &__field-text{
    font-size: 16px;
    font-weight: @fw-bold;
    color: @important-text;
  }

  &__input{
    margin-top: 3px;
    font-size: 16px;
  }

  &__btn{
    margin-top: 20px;
    font-size: 16px;
    width: 100%;
  }

  &__row-2{
    margin-top: 20px;
  }

  &__consent{
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  &__consent-checkbox{
    margin-top: 2px;
  }

  &__consent-text{
    margin-left: 10px;
  }

  &__bottom{
    padding: 20px 30px 25px;
    display: flex;
    align-items: center;
    background-color: #fff;
  }

  &__bottom-img{}

  &__bottom-text{
    margin-left: 30px;
    font-size: 14px;
    color: @important-text;
  }

  @media all and (max-width: @screen-width-s) {
    &__bottom-text{
      margin-left: 20px;
      font-size: 12px;
    }
  }
}