.radio-btn{
  &__label{}

  &__radio{
    &:checked{
      & ~ .radio-btn{
        &__btn{
          background-color: @black;
          color: #fff;

          &::before{
            background-image: url('/img/css-sprite.svg#check-mark');
          }
        }
      }
    }
  }

  &__btn{
    position: relative;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 30px 1px 10px;
    color: #37474F;
    cursor: pointer;
    border-radius: 3px;
    background-color: @light-gray;

    &::before{
      content: '';
      position: absolute;
      right: 5px;
      width: 26px;
      height: 15px;
      background-image: url('/img/css-sprite.svg#arrow-r-dark-gray');
      background-repeat: no-repeat;
      background-size: 26px 15px;
    }

    &:hover{
      background-color: @gray;
    }
  }

  @media all and (max-width: @screen-width-s){
    &__btn{
      height: 50px;
    }
  }
}