.seo-block{
  margin-top: 100px;
  padding-bottom: 70px;

  &__list{
    margin-top: 30px;
  }

  @media all and (max-width: $screen-width-n){
    margin-top: 70px;
    padding-bottom: 50px;
  }

  @media all and (max-width: $screen-width-s){
    margin-top: 40px;

    &__list{
      margin-top: 20px;
    }
  }
}