.simple-table{
  border-top: 1px solid #CFD8DC;

  &__item{
    padding: 10px 0;
    display: flex;
    border-bottom: 1px solid #CFD8DC;
  }

  &__title{
    width: 50%;
    padding-right: 30px;
    color: @important-text;
    font-weight: @fw-medium;
  }

  &__text{
    width: 50%;
  }

  @media all and (max-width: @screen-width-s){
    &__item{
      flex-wrap: wrap;
    }

    &__title{
      width: 100%;
    }

    &__text{
      width: 100%;
    }
  }
}