.slider-banner{
  background-color: $light-gray;
  border-radius: 5px;
  padding: 20px 30px 50px;

  &__title{}

  &__slider{}

  &__slide{
    outline: none;
    height: auto;
  }

  &__slide-list{
    margin-top: 10px;
    border-bottom: 1px solid $gray;
    padding-bottom: 15px;
    height: calc(100% - 10px);
  }

  &__slide-item{
    & + &{
      margin-top: 5px;
    }
  }

  &__slide-link{
    font-size: 14px;
  }
}