.slider-discounts{
  margin-top: 100px;

  &__wrap{}

  &__header{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__title{}

  &__arrows{
    margin-top: 5px;
    display: flex;
  }

  &__arrows-item{
    & + &{
      margin-left: 10px;
    }
  }

  &__arrow{}

  &__slider{
    margin-top: 20px;

    &.slick-initialized{
      .slider-discounts{
        &__slide{
          display: block;
        }
      }
    }
  }

  &__slide{}

  &__slider-mobile{
    display: none;
  }

  &__slide-mobile{}

  &__pagination{
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;

    .swiper-pagination-bullet{
      width: 10px;
      height: 10px;
      outline: none;

      & + .swiper-pagination-bullet{
        margin-left: 10px;
      }
    }
    
    .swiper-pagination-bullet-active{
      background-color: #2D9CDB;
    }
  }

  @media all and (max-width: $screen-width-n){
    margin-top: 70px;
  }

  @media all and (max-width: $screen-width-s){
    margin-top: 40px;

    &--catalog{
      margin-top: 20px;
    }

    &__wrap{
      padding-bottom: 15px;
    }

    &__header{
      justify-content: center;
    }

    &__arrows{
      display: none;
    }

    &__slider-mobile{
      display: block;
      margin: 20px -10px 0;
    }

    &__slide-mobile{}
  }
}