.table{
  border-spacing: 0;
  border-collapse: collapse;
  color: @important-text;

  &__wrap{
    width: 100%;
    overflow-x: auto;
  }

  &__header{}

  &__header-field{}

  &__body{}

  &__row{
    border-bottom: 1px solid #CFD8DC;
  }

  &__field{
    text-align: left;
    padding: 10px 20px 10px 0;
    white-space: nowrap;

    &--header{
      font-weight: @fw-medium;
      line-height: 1.2;
    }

    &--280px{
      min-width: 280px;
    }

    &--190px{
      min-width: 190px;
    }

    &:last-child{
      width: 100%;
    }
  }

  @media all and (max-width: @screen-width-s){
    &__wrap{
      width: calc(100% + 20px);
    }

    &__field{
      padding: 8px 10px 8px 0;

      &--header{
        font-weight: @fw-bold;
        line-height: 1.5;
      }

      &:first-child{
        font-weight: @fw-medium;
      }

      &--280px{
        min-width: 200px;
      }

      &--190px{
        min-width: 140px;
      }
    }
  }
}