<template>
  <section class="content__main-product main-product">
    <div class="main-product__wrap container">
      <h2 class="main-product__title title-lvl-1">Выберите вид кредита</h2>
      <ul class="main-product__list">
        <li class="main-product__item">
          <div class="main-product__img-wrap adaptive-img__wrap">
            <img src="/dev-img/1280x720.jpg" alt="" class="main-product__img adaptive-img">
          </div>
          <h3 class="main-product__subtitle title-lvl-3">Займы и кредиты онлайн</h3>
          <p class="main-product__text">Кредитные продукты на короткий срок не выходя из дома, на карту или счет</p>
          <div class="main-product__btn-wrap">
            <a href="#" class="main-product__btn btn btn--gray btn--narrow">24 предложения</a>
          </div>
        </li>
        <li class="main-product__item">
          <div class="main-product__img-wrap adaptive-img__wrap">
            <img src="/dev-img/1280x720.jpg" alt="" class="main-product__img adaptive-img">
          </div>
          <h3 class="main-product__subtitle title-lvl-3">Автокредиты</h3>
          <p class="main-product__text">Быстрые кредиты до 4 млн тг под залог автомобиля с правом и без права вождения</p>
          <div class="main-product__btn-wrap">
            <a href="#" class="main-product__btn btn btn--gray btn--narrow">24 предложения</a>
          </div>
        </li>
        <li class="main-product__item">
          <div class="main-product__img-wrap adaptive-img__wrap">
            <img src="/dev-img/1280x720.jpg" alt="" class="main-product__img adaptive-img">
          </div>
          <h3 class="main-product__subtitle title-lvl-3">Кредитные карты</h3>
          <p class="main-product__text">Выберите карту и получайте до 500 000 тг, сразу, когда вам это необходимо</p>
          <div class="main-product__btn-wrap">
            <a href="#" class="main-product__btn btn btn--gray btn--narrow">24 предложения</a>
          </div>
        </li>
      </ul>
    </div>
  </section>
</template>

<script>
  export default {

  }
</script>

<style lang="scss" scoped>
  @import "../../assets/scss/components/main-product";
</style>