<template>
  <section class="content__main-news main-news">
    <div class="main-news__wrap container">
      <h2 class="main-news__title title-lvl-1">Будьте в курсе</h2>
      <ul class="main-news__samples-list">
        <li class="main-news__sample-item"
            v-for="category in PUBLICATIONS">
          <button class="main-news__sample-btn btn btn--small btn--sample">
            {{ category.title }}
          </button>
        </li>
      </ul>
      <div class="main-news__cols-wrap column-block">
        <div class="column-block__col-1">
          <ul class="column-block__articles articles"
              v-for="category in PUBLICATIONS">
            <li class="articles__item"
                v-for="publication in category.publications">
              <a href="" class="articles__link-wrap link link--wrap"></a>
              <div class="articles__img-wrap adaptive-img__wrap">
                <img :src="publication.img" :alt="category.title" class="articles__img adaptive-img">
              </div>
              <div class="articles__text-wrap">
                <p class="articles__text">{{ category.title }}</p>
                <p class="articles__date">
                  <time>{{ publication.date }}</time>
                </p>
              </div>
              <p class="articles__description">{{ publication.title }}</p>
            </li>
          </ul>
        </div>
        <aside class="column-block__col-2">
          <div class="column-block__new-discounts new-discounts">
            <p class="new-discounts__title title-lvl-4">Новые акции и скидки</p>
            <div class="new-discounts__inner">
              <ul class="new-discounts__list">
                <li class="new-discounts__item"
                    v-for="item in DISCOUNTS">
                  <a href="" class="new-discounts__link link link--important-text">
                    {{ item.fullText }}
                  </a>
                  <p class="new-discounts__date">
                    <time>{{ item.date }}</time>
                  </p>
                </li>
              </ul>
            </div>
            <div class="new-discounts__show-more-wrap">
              <button class="new-discounts__show-more link link--dark-blue">Все акции</button>
            </div>
          </div>
        </aside>
      </div>
    </div>
  </section>
</template>

<script>
    import {mapGetters} from 'vuex';

    export default {
        computed: {
            ...mapGetters('publications', [
                'PUBLICATIONS'
            ]),
            ...mapGetters('discounts', [
                'DISCOUNTS'
            ]),
        }
    };
</script>

<style lang="scss" scoped>
  @import "../../assets/scss/components/main-news";
  @import "../../assets/scss/components/column-block";
  @import "../../assets/scss/components/new-discounts";
  @import "../../assets/scss/components/articles";
</style>