<template>
  <section class="content__main-title main-title">
    <div class="main-title__wrap container">
      <div class="main-title__inner">
        <div class="main-title__col-1">
          <h1 class="main-title__title title-lvl-1">Выберите лучший <br> займ или кредит <br> за 5 минут</h1>
        </div>
        <div class="main-title__col-2 main-calculator">
          <div class="main-calculator__wrap">
            <div class="main-calculator__top">
              <h2 class="main-calculator__title title-lvl-2">Какая сумма вас интересует?</h2>
              <p class="main-calculator__subtitle"
                 v-if="RESPONSE">
                Доступно до {{ whiteSpacesMax }} тенге
              </p>
              <div class="main-calculator__calculator">
                <app-calculator v-if="RESPONSE"
                                :max="mainCalculator.max"
                                :min="mainCalculator.min"
                                :step="mainCalculator.step"
                                :value="mainCalculator.value"
                                :maxLength="7"
                                :additional="'₸'"
                                :name="'main_calculator'">
                </app-calculator>
                <div class="main-calculator__sum">
                  <p class="main-calculator__sum-text"
                     v-if="RESPONSE">
                    {{ whiteSpacesMin }}
                  </p>
                  <p class="main-calculator__sum-text"
                     v-if="RESPONSE">
                    {{ whiteSpacesMax }}
                  </p>
                </div>
              </div>
            </div>
            <div class="main-calculator__bottom">
              <div class="main-calculator__check-block">
                <p class="main-calculator__check-block-title title-lvl-4">Что важно?</p>
                <ul class="main-calculator__check-block-list">
                  <li class="main-calculator__check-block-item"
                      v-for="(item, key) in TERMS_ON_MAIN" :key="item.id">
                    <label>
                      <input type="checkbox"
                             class="main-calculator__check-block-checkbox visually-hidden"
                             :value="item.value"
                             :checked="item.checked"
                             @change="updateCheckedTerms($event, key)">
                      <span class="main-calculator__check-block-btn btn btn--small btn--checkbox">{{ item.name }}</span>
                    </label>
                  </li>
                </ul>
              </div>
              <button class="main-calculator__btn btn btn--big">Показать предложения</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
    import appCalculator from '../../components/Common/Calculator';
    import {mapGetters}  from 'vuex';

    export default {
        components: {
            appCalculator
        },
        methods: {
            updateCheckedTerms (e, key) {
                this.$store.commit('terms/UPDATE_CHECKED_TERMS', {key: key, flag: e.target.checked});
            }
        },
        computed: {
            ...mapGetters('calculators', [
                'CALCULATORS',
                'RESPONSE'
            ]),
            ...mapGetters('terms', [
                'TERMS_ON_MAIN'
            ]),
            mainCalculator () {
                return this.CALCULATORS.main_calculator;
            },
            whiteSpacesMin () {
                return String(this.mainCalculator.min).replace(/\B(?=(\d{3})+(?!\d))/g, ' ');
            },
            whiteSpacesMax () {
                return String(this.mainCalculator.max).replace(/\B(?=(\d{3})+(?!\d))/g, ' ');
            }
        }
    };
</script>

<style lang="scss" scoped>
  @import "../../assets/scss/components/main-title";
  @import "../../assets/scss/components/main-calculator";
</style>