<template>
  <div class="content__wrap">
    <app-catalog-header/>
    <app-catalog-filter @calculatorFilters="filters()"/>
    <app-catalog/>
    <app-slider-discount/>
    <app-seo-block/>
  </div>
</template>

<script>
    import appCatalogHeader from '../components/Catalog/CatalogHeader';
    import appCatalogFilter from '../components/Catalog/CatalogFilter';
    import appCatalog from '../components/Catalog/CatalogBody';
    import appSliderDiscount from '../components/Common/SliderDiscount';
    import appSeoBlock from '../components/Common/SeoBlock';
    import {mapGetters, mapMutations} from 'vuex'

    export default {
        name: 'Catalog',
        components: {
            appCatalogHeader,
            appCatalogFilter,
            appCatalog,
            appSliderDiscount,
            appSeoBlock
        },
        methods: {
            filters() {
                this.$store.commit('companies/COMPANY_FILTER',
                    {sum: this.mainCalculatorValue, days: this.daysCalculatorValue, terms: this.checkedTerms})
            }
        },
        computed: {
            ...mapGetters('calculators', ([
                'CALCULATORS'
            ])),
            ...mapGetters('terms', ([
                'TERMS'
            ])),
            checkedTerms() {
                return this.TERMS.filter(elem => {
                    return elem.checked === true;
                });
            },
            mainCalculatorValue() {
                return this.CALCULATORS.main_calculator.value;
            },
            daysCalculatorValue() {
                return this.CALCULATORS.days_calculator.value;
            }
        }
    };
</script>
