<template>
  <div class="content__wrap">
    <app-main-title-block></app-main-title-block>
    <app-main-product></app-main-product>
    <app-slider-discount></app-slider-discount>
    <app-question-big-banner :bem-el="'content__info-banner'"></app-question-big-banner>
    <app-main-news></app-main-news>
    <app-social-big-banner :bem-el="'content__info-banner'"></app-social-big-banner>
    <app-seo-block></app-seo-block>
  </div>
</template>

<script>
    import appMainTitleBlock    from '../components/Main/MainTitleBlock';
    import appMainProduct       from '../components/Main/MainProduct';
    import appQuestionBigBanner from '../components/Banners/QuestionBigBanner';
    import appMainNews          from '../components/Main/MainNews';
    import appSocialBigBanner   from '../components/Banners/SocialBigBanner';
    import appSliderDiscount    from '../components/Common/SliderDiscount';
    import appSeoBlock          from '../components/Common/SeoBlock';

    export default {
        name: 'Main',
        components: {
            appMainTitleBlock,
            appMainProduct,
            appQuestionBigBanner,
            appMainNews,
            appSocialBigBanner,
            appSliderDiscount,
            appSeoBlock
        }
    };
</script>
