<template>
  <footer class="page__footer footer">
    <div class="footer__wrap container">
      <div class="footer__cols-wrap">
        <div class="footer__col-1">
          <p class="footer__title">EasyCredit <br><span class="footer__title--dot">•</span> Помогаем выбрать хороший кредит</p>
          <div class="footer__social-wrap">
            <p class="footer__social-text">Мы в соцсетях</p>
            <ul class="footer__social-list">
              <li class="footer__social-item">
                <a href="#" class="footer__social-link link link--blue">Facebook</a>
              </li>
              <li class="footer__social-item">
                <a href="#" class="footer__social-link link link--blue">Instagram</a>
              </li>
              <li class="footer__social-item">
                <a href="#" class="footer__social-link link link--blue">Twitter</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="footer__col-2">
          <ul class="footer__nav-list">
            <li class="footer__nav-item">
              <a href="#" class="footer__nav-link link link--blue">Рекламодателям</a>
            </li>
            <li class="footer__nav-item">
              <a href="#" class="footer__nav-link link link--blue">Карта сайта</a>
            </li>
            <li class="footer__nav-item">
              <a href="#" class="footer__nav-link link link--blue">Конфиденциальность</a>
            </li>
            <li class="footer__nav-item">
              <a href="#" class="footer__nav-link link link--blue">Контакты</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="footer__bottom">
        <p class="footer__copy">
          © 2000–2020 ООО «ИзиКредит», ЕГРПОУ 22929966. Адрес: Проспект Ауэзова, 48, Алматы, Казахстан.
          Прием заявок круглосуточно.
        </p>
        <a href="#" class="footer__copy-link link--dark-gray link">
          Сделано в BIG <br><span class="footer__copy-link--dot">•</span> Веб-разработка, маркетинг, реклама
        </a>
      </div>
    </div>
  </footer>
</template>

<script>
  export default {

  }
</script>

<style lang="scss" scoped>
  @import "../assets/scss/components/footer";
</style>