<template>
  <div class="page__header-wrap">
    <header class="page__header header">
      <div class="header__wrap container container--big">
        <div class="header__logo-wrap">
          <router-link class="link" to="/">что
            <img src="/img/logo.svg" alt="logo" class="header__logo">
          </router-link>
        </div>
        <ul class="header__nav nav">
          <router-link v-for="item in nav"
                       class="nav__item"
                       tag="li"
                       :to="item.to">
            <a class="nav__link link link--white">{{ item.title }}</a>
          </router-link>
        </ul>
        <div class="header__elements">
          <a href="" class="header__btn btn btn--dark-gray">Подбор кредита</a>
          <button class="header__discount-wrap is-unviewed"
                  @click.stop="toggleDiscountBlock()">
            <svg class="header__discount-img">
              <use xlink:href="/img/html-sprite.svg#discount"></use>
            </svg>
            <div class="header__discount-inner"
                 :class="{'is-open' : DISCOUNT_BLOCK_FLAG}">
              <ul class="header__discount-list">
                <li class="header__discount-item">
                  <a href="#" class="header__discount-link">
                    <span>Весь март –30% на первый займ от&nbsp;<span class="is-check-mark">TENGO.kz</span></span>
                  </a>
                </li>
                <li class="header__discount-item">
                  <a href="#" class="header__discount-link is-viewed">
                    <span>Еще 3 дня розыгрыш Toyota Camry 50 на&nbsp;<span class="is-check-mark">kredit24.kz</span></span>
                  </a>
                </li>
                <li class="header__discount-item">
                  <a href="#" class="header__discount-link is-viewed">
                    <span>Первый займ под 0% на&nbsp;<span class="is-check-mark">MoneyMan.kz</span></span>
                  </a>
                </li>
                <li class="header__discount-item">
                  <a href="#" class="header__discount-link">
                    <span>Скидка 30% на микрокредит для клиентов&nbsp;<span class="is-check-mark">Dopo.kz</span></span>
                  </a>
                </li>
                <li class="header__discount-item">
                  <a href="#" class="header__discount-link">
                    <span>Приведите друга и получите скидку 20% от&nbsp;<span class="is-check-mark">Koke.kz</span></span>
                  </a>
                </li>
              </ul>
            </div>
          </button>
          <button class="header__search-link">
            <svg class="header__search-link-img">
              <use xlink:href="/img/html-sprite.svg#search"></use>
            </svg>
          </button>
          <button class="header__hum">
            <svg class="header__hum-img">
              <use xlink:href="/img/html-sprite.svg#hum"></use>
            </svg>
          </button>
        </div>
        <div class="header__search">
          <input type="text" class="header__search-input input"
                 placeholder="Поиск по сайту"
                 autocomplete="off"
                 spellcheck="false">
          <button class="header__search-btn">
            <svg class="header__search-img">
              <use xlink:href="/img/html-sprite.svg#search"></use>
            </svg>
          </button>
        </div>
      </div>
    </header>
  </div>
</template>

<script>
    import {mapGetters} from 'vuex'

    export default {
        components: {},
        data() {
            return {
              nav: [
                  {
                      title: 'Каталог',
                      to: {name : 'Catalog'},
                  }
              ]
            }
        },
        methods: {
            toggleDiscountBlock() {
                if (this.DISCOUNT_BLOCK_FLAG) {
                    this.$store.commit('header/CLOSE_DISCOUNT_BLOCK');
                } else {
                    this.$store.commit('header/OPEN_DISCOUNT_BLOCK');
                }
            }
        },
        computed: {
            ...mapGetters('header', [
                'DISCOUNT_BLOCK_FLAG'
            ])
        }
    }
</script>

<style lang="scss" scoped>
  @import "../assets/scss/components/header";
  @import "../assets/scss/components/nav";
</style>
