.adaptive-img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  font-size: 0;

  &__wrap{
    position: relative;
    background-color: #fff;
    overflow: hidden;
  }
}