.btn{
  height: 40px;
  padding: 0 30px;
  color: #fff;
  font-size: 16px;
  border-radius: 3px;
  font-weight: $fw-medium;
  background-color: $dark-blue;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  overflow: hidden;
  transition: .2s;
  user-select: none;
  white-space: nowrap;
  cursor: pointer;
  outline: none;

  &:hover, &:focus, &:active{
    background-color: $blue;
  }

  &:disabled{
    background-color: #90A4AE;
    color: #fff;
    cursor: not-allowed;
  }

  &.is-load{
    position: relative;
    color: transparent;

    &::before{
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-image: url('/img/loader.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: 60% 60%;
    }
  }

  &--no-style{
    background-color: transparent;
    font-weight: $fw-norm;
    color: $text;

    &:hover, &:focus, &:active{
      background-color: transparent;
      color: $text;
    }
  }

  &--gray{
    background-color: $light-gray;
    color: $important-text;

    &:hover, &:focus, &:active{
      background-color: $gray;
    }
  }

  &--checkbox{
    color: $dark-blue;
    background-color: $light-gray;
    font-weight: $fw-norm;
    font-size: 14px;

    &:hover, &:focus, &:active{
      background-color: $gray;
    }

    &.is-active{
      background-color: $black;
      color: #fff;
    }
  }

  &--sample{
    font-size: 18px;
    color: $dark-blue;
    background-color: transparent;
    font-weight: $fw-norm;

    &:hover, &:focus, &:active{
      color: $dark-yellow;
      background-color: transparent;
    }

    &.is-active{
      color: #fff;
      background-color: $black;
    }
  }

  &--square{
    width: 40px;
    height: 40px;
    padding: 0;
    color: $text;
    border-radius: 3px;
    background-color: $light-gray;
    background-size: 6px 12px;
    background-repeat: no-repeat;
    background-position: center;

    &:hover, &:focus, &.is-active{
      background-color: $black;
      color: #fff;
    }

    &-arrow-right{
      background-image: url('/img/css-sprite.svg#arrow-r');

      &:hover, &:focus{
        background-image: url('/img/css-sprite.svg#arrow-r-gray');
      }
    }

    &-arrow-left{
      background-image: url('/img/css-sprite.svg#arrow-l');

      &:hover, &:focus{
        background-image: url('/img/css-sprite.svg#arrow-l-gray');
      }
    }

    &-arrow-bottom{
      background-size: 14px 8px;
      background-image: url('/img/css-sprite.svg#arrow-b');

      &:focus, &:active{
        background-color: $light-gray;
        color: $text;
      }

      &:hover, &.is-active{
        background-image: url('/img/css-sprite.svg#arrow-b-gray');
        background-color: $black;
      }
    }
  }

  &--dark-gray{
    background-color: $space-gray;
    color: #fff;
    padding: 0 20px;

    &:hover, &:focus{
      background-color: $dark-blue;
    }
  }

  // Модификаторы размеров
  &--big{
    height: 60px;
    font-size: 18px;
  }

  &--normal{
    height: 50px;
    font-size: 18px;
  }

  &--small{
    height: 30px;
    border-radius: 30px;
    padding: 0 10px;
  }

  &--narrow{
    padding: 0 20px;
  }

  &--long{
    padding: 0 45px;
  }

  @media all and (max-width: $screen-width-n){
    &--sample{
      font-size: 16px;
    }
  }

  @media all and (max-width: $screen-width-s){
    &--mobile-small-long{
      height: 40px;
      width: 100%;
      font-size: 16px;
    }

    &--mobile-normal-long{
      height: 50px;
      width: 100%;
      font-size: 16px;
    }

    &--sample{
      font-size: 14px;
    }
  }
}
