.checkbox{
  position: relative;
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 1px solid #B0BEC5;
  border-radius: 3px;
  background-color: #FFFFFF;
  transition: border 0.1s;

  &::before{
    content: '';
    position: absolute;
    display: block;
    width: 8px;
    height: 10px;
    top: 1px;
    left: 3px;
    border-bottom: 4px solid $dark-blue;
    border-right: 4px solid $dark-blue;
    transform: rotate(45deg);
    opacity: 0;
    transition: opacity 0.1s;
  }

  &__hidden{
    &:checked{
      & ~ .checkbox{
        &::before{
          opacity: 1;
        }
      }
    }
  }

  &__wrap{
    cursor: pointer;

    &:hover, &:focus{
      .checkbox{
        border: 1px solid #0091EA;
      }
    }
  }
}