.container{
  margin: 0 auto;
  max-width: $content-width;
  padding: 0 $hor-indent;

  &--big{
    max-width: calc(#{$content-width} + 40px);
  }

  @media all and (max-width: $screen-width-n){
    padding: 0 $hor-indent-n;
  }

  @media all and (max-width: $screen-width-s){
    padding: 0 $hor-indent-s;

    &--mobile-narrow{
      padding: 0 20px;
    }
  }
}