.hint{
  position: absolute;
  left: 0;
  top: calc(100% + 2px);
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.1;
  background-color: $bgc-hint;
  border: 1px solid $brd-hint;
  color: #37474F;
  border-radius: 3px;
  display: none;

  &--wrap{
    position: relative;
  }

  &--right{
    left: auto;
    right: 0;
  }

  @media all and (max-width: $screen-width-s){
    right: 0;
    left: auto;
  }
}