.info-banner{
  margin-top: 100px;
  overflow: hidden;
  background-color: $light-gray;

  &--mt-small{
    margin-top: 50px;
  }

  &__wrap{
    position: relative;
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    align-items: center;
  }

  &__col-1{
    //position: relative;
    font-size: 0;
    flex-shrink: 0;
  }

  &__img{
    position: absolute;
    bottom: -111px;
    width: 222px;
  }

  &__col-2{
    padding-left: 222px;
  }

  &__title{
    display: none;
  }

  &__text{
    text-align: left;
    margin: 0 30px;
    max-width: 580px;
    font-size: 24px;
    color: #37474F;

    &--social{
      max-width: 410px;
    }
  }

  &__col-3{
    position: relative;
    margin-left: auto;
    flex-shrink: 0;
    margin-right: 50px;
  }

  &__btn{
  }

  &__btn-text{
    position: absolute;
    width: 100%;
    margin-top: 10px;
    text-align: center;
    font-size: 12px;
  }

  &__list{
    display: flex;
  }

  &__item{
    position: relative;
    font-size: 0;

    & + &{
      margin-left: 20px;
    }
  }

  &__link{
    &:hover, &:focus{
      & ~ .info-banner{
        &__link-img{
          fill: $dark-yellow;
        }
      }
    }
  }

  &__link-img{
    width: 64px;
    height: 64px;
    fill: #B0BEC5;
    transition: 0.1s;
  }

  @media all and (max-width: 1200px){
    &__col-3{
      margin-right: 0;
    }
  }

  @media all and (max-width: 1100px){
    background-color: transparent;

    &__wrap{
      flex-wrap: wrap;
      background-color: $light-gray;
      margin: 0 30px;
      border-radius: 5px;
    }

    &__col-1{
      display: flex;
      justify-content: center;
      width: 100%;
    }

    &__col-2{
      flex-direction: column;
      align-items: center;
      margin-top: 20px;
      display: flex;
      width: 100%;
      padding-left: 0;
    }

    &__title{
      display: block;
      text-align: center;
      font-size: 24px;
      font-weight: $fw-medium;
      line-height: 1.2;
      color: $important-text;
    }

    &__text{
      margin: 10px 0 0;
      font-size: 18px;
      text-align: center;
    }

    &__col-3{
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: center;
    }

    &__img{
      position: static;
      width: 150px;
      height: auto;
    }

    &__btn-text{
      position: static;
    }
  }

  @media all and (max-width: $screen-width-n){
    margin-top: 70px;

    &--mt-small{
      margin-top: 40px;
    }

    &__wrap{
      margin: 0 20px;
    }
  }

  @media all and (max-width: $screen-width-s){
    margin-top: 40px;

    &__wrap{
      margin: 0 10px;
      padding: 30px 10px;
    }

    &__col-2{
    }

    &__img{
      width: 120px;
    }

    &__text{
      font-size: 16px;
    }
  }
}