.input{
  width: 100%;
  padding: 0 10px;
  //font-size: 16px;
  height: 60px;
  border: 1px solid $brd;
  box-shadow: $bsh;
  display: block;
  outline: none;
  transition: 0.1s;
  appearance: none;
  border-radius: 3px;
  color: $important-text;

  &::-moz-placeholder{
    color: #90A4AE;
  }

  &::-webkit-input-placeholder{
    color: #90A4AE;
  }

  &:hover {
    border: 1px solid $brd-hover;
  }

  &:focus {
    border: 1px solid $brd-focus;
    box-shadow: $bsh-focus, $bsh;
  }

  &.is-error {
    border: 1px solid $brd-error;
    box-shadow: $bsh-error, $bsh;

    &:focus, &:hover{
      border: 1px solid $brd-error;
      box-shadow: $bsh-error, $bsh;
    }

    & ~ .hint{
      display: block;
    }
  }

  &--normal{
    height: 50px;
  }

  &--textarea{
    padding: 13px 10px;
    resize: none;
  }

  @media all and (max-width: $screen-width-s){
    &--mobile-small{
      height: 40px;
    }

    &--mobile-normal{
      height: 50px;
    }
  }
}
