.link{
  transition: 0.1s;
  outline: none;
  cursor: pointer;

  &--wrap{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
  }

  &--white{
    color: #fff;

    &:focus, &:hover{
      color: $dark-blue;
    }
  }

  &--dark-gray{
    color: $dark-gray;

    &:focus, &:hover{
      color: $yellow;
    }
  }

  &--dark-blue{
    color: $dark-blue;

    &:focus, &:hover{
      color: $dark-yellow;
    }
  }

  &--blue{
    color: $blue;

    &:focus, &:hover{
      color: $yellow;
    }
  }

  &--important-text{
    color: $important-text;

    &:focus, &:hover{
      color: $dark-yellow;
    }
  }
}
