.page{
  position: relative;
  min-width: 320px;
  font-family: 'Roboto', sans-serif;
  font-size: $fz-text;
  line-height: $lh-big;
  color: $text;
  overflow-x: hidden;

  &__header-wrap{
    height: 100px;
    background-color: $black;
  }

  @media all and (max-width: 1200px){
    &__header-wrap{
      height: 50px;
    }
  }

  @media all and (max-width: $screen-width-n){
    font-size: $fz-text-n;
  }

  @media all and (max-width: $screen-width-s){
    font-size: $fz-text-s;
  }
}
