.pagination{
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__title{
    &--bold{
      font-weight: $fw-bold;
      color: $important-text;
    }
  }

  &__btn-list{
    display: flex;
  }

  &__btn-item{
    & + &{
      margin-left: 5px;
    }
  }

  &__item-btn{}

  &__btn{}

  @media all and (max-width: 900px){
    flex-direction: column;

    &__btn{
      margin-top: 20px;
      width: 290px;
      order: 1;
    }

    &__btn-item{
      & + &{
        margin-left: 10px;
      }
    }

    &__btn-list{
      margin-top: 10px;
      order: 2;
    }
  }

  @media all and (max-width: $screen-width-s){
    &__btn{
    }
  }
}