.rating{
  max-width: 100%;

  &__wrap{
    position: relative;
    padding-bottom: 20%;
  }

  &__item{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: repeat-x;
    background-color: #fff;

    &--star-gray{
      background-image: url('/img/star-gray.svg');
      background-size: 20%;
    }

    &--star-gold{
      background-image: url('/img/star-gold.svg');
    }

    &--light-gray{
      background-color: $light-gray;
    }
  }
}