.slide-animation{
  &-enter, &-leave-to{
    overflow: hidden;
    max-height: 0;
  }

  &-enter-active, &-leave-active{
    transition: 0.5s;
  }

  &-enter-to, &-leave{
    max-height: 500px;
    overflow: hidden;
  }
}