.text-block{
  ul{

  }

  li{
    position: relative;
    padding-left: 20px;

    &::before{
      position: absolute;
      content: '—';
      left: 0;
      color: #018FE8;
    }
  }

  h1{
    font-size: $fz-1;
    color: $important-text;
    line-height: $lh-medium;
    font-weight: $fw-medium;
    margin-top: 20px;
    margin-bottom: 25px;
  }

  h2{
    font-size: $fz-2;
    color: $important-text;
    line-height: $lh-medium;
    font-weight: $fw-medium;
    margin-bottom: 25px;
  }

  h3{
    font-size: $fz-3;
    color: $important-text;
    line-height: $lh-medium;
    font-weight: $fw-medium;
    margin-bottom: 25px;
  }

  p{
    margin-bottom: 25px;
  }

  img{
    display: block;
    margin: 50px 0;
  }
}