.title{
  &--medium{
    color: $important-text;
    line-height: $lh-medium;
    font-weight: $fw-medium;
  }

  &-lvl-1{
    font-size: $fz-1;
    color: $important-text;
    line-height: $lh-medium;
    font-weight: $fw-medium;
  }

  &-lvl-2{
    font-size: $fz-2;
    color: $important-text;
    line-height: $lh-medium;
    font-weight: $fw-medium;
  }

  &-lvl-3{
    font-size: $fz-3;
    color: $important-text;
    line-height: $lh-medium;
    font-weight: $fw-medium;
  }

  &-lvl-4{
    font-size: $fz-4;
    color: $important-text;
    line-height: $lh-medium;
    font-weight: $fw-medium;
  }

  &-lvl-5{
    font-size: $fz-5;
    color: $important-text;
    line-height: $lh-medium;
    font-weight: $fw-bold;
  }

  @media all and (max-width: $screen-width-n){
    &-lvl-1{
      font-size: $fz-1-n;
    }

    &-lvl-2{
      font-size: $fz-2-n;
    }

    &-lvl-3{
      font-size: $fz-3-n;
    }

    &-lvl-4{
      font-size: $fz-4-n;
    }
  }

  @media all and (max-width: $screen-width-s){
    &-lvl-1{
      font-size: $fz-1-s;
    }

    &-lvl-2{
      font-size: $fz-2-s;
    }

    &-lvl-3{
      font-size: $fz-3-s;
    }

    &-lvl-4{
      font-size: $fz-4-s;
    }
  }
}
