<template>
  <div class="calculator">
    <div class="calculator__wrap">
      <input type="tel"
             class="calculator__input input"
             :value="whiteSpacesValue"
             @input.number="inputCalculatorInput($event.target.value, name)"
             @focusout="focusoutCalculatorInput($event.target.value, name)"
             ref="calculatorInput"
             :maxlength="maxLength">
      <div class="calculator__additional">
        <p class="calculator__additional-text">
          <span class="calculator__additional-value calculator__additional-value--main">{{ whiteSpacesValue }}</span>
          <span class="calculator__additional-extension calculator__additional-extension--main">{{ additional }}</span>
        </p>
      </div>
      <div class="calculator__buttons">
        <button class="calculator__button calculator__button--clear"
                @click="clearInput"></button>
        <button class="calculator__button calculator__button--popup"></button>
      </div>
      <range-slider
          class="calculator__slider"
          :min="min"
          :max="max"
          :step="step"
          :value="value"
          @input="setValue($event, name)">
      </range-slider>
    </div>
  </div>
</template>

<script>
    import RangeSlider from 'vue-range-slider';
    import 'vue-range-slider/dist/vue-range-slider.css';

    export default {
        components: {
            RangeSlider
        },
        props: {
            min: Number,
            max: Number,
            step: Number,
            value: Number,
            name: String,
            additional: String,
            maxLength: Number,
        },
        data () {
            return {};
        },
        methods: {
            removeWhiteSpaces (calcValue) {
                return Number(String(calcValue).replace(/\s/g, ''));
            },
            setValue (calcValue, name) {
                this.$store.commit('calculators/CHANGE_CALCULATOR_VALUE', {value: calcValue, name: name});
            },
            inputCalculatorInput (calcValue, name) {
                calcValue = this.removeWhiteSpaces(calcValue);
                this.setValue(calcValue, name);
            },
            focusoutCalculatorInput (calcValue, name) {
                calcValue = this.removeWhiteSpaces(calcValue);
                calcValue = Math.round(calcValue / this.step) * this.step;

                if (calcValue < this.min) {
                    calcValue = this.min;
                } else if (calcValue > this.max) {
                    calcValue = this.max;
                }

                this.setValue(calcValue, name);
            },
            clearInput () {
                this.setValue(0, this.name);
                this.$refs.calculatorInput.focus();
            }
        },
        computed: {
            whiteSpacesValue () {
                return String(this.value).replace(/\B(?=(\d{3})+(?!\d))/g, ' ');
            }
        }
    };
</script>

<style lang="scss">
  @import "../../assets/scss/components/calculator";
  @import "../../assets/scss/plugins/range-slider";
</style>