<template>
  <section class="content__seo-block seo-block">
    <div :class="`seo-block__wrap container ${containerMod}`">
      <h2 class="seo-block__title title-lvl-2">EasyCredit - финансовый онлайн супермаркет</h2>
      <div class="seo-block__list">
        Самая простая — или с выгодными условиями. Для тех, кто ищет более доходные варианты вложения денег,
        мы создали раздел «Инвестиции», где можно выбрать акции и облигации, а также определиться,
        через какого брокера провести сделку. Если хочется сформировать более доходный и сбалансированный по риску портфель,
        вам поможет «Мастер вкладов и инвестиций». Посетители могут не только обсудить банки на форуме,
        пообщаться с их представителями по «Горячей линии», но и оставить отзывы о качестве
        обслуживания — на основе этих данных составляется «Народный рейтинг».
        Ежегодно лучшим из лучших вручается премия «Банк года».
      </div>
    </div>
  </section>
</template>

<script>
  export default {
      props: {
          containerMod: {
            default: ''
          }
      }
  }
</script>

<style lang="scss">
  @import "../../assets/scss/components/seo-block";
</style>