<template>
  <section :class="`content__slider-discounts slider-discounts ${pageMod}`">
    <div class="slider-discounts__wrap container">
      <div class="slider-discounts__header">
        <h2 class="slider-discounts__title title-lvl-1">Акции и скидки</h2>
        <ul class="slider-discounts__arrows">
          <li class="slider-discounts__arrows-item">
            <button class="slider-discounts__arrow btn btn--square btn--square-arrow-left slider-discounts-prev"></button>
          </li>
          <li class="slider-discounts__arrows-item">
            <button class="slider-discounts__arrow btn btn--square btn--square-arrow-right slider-discounts-next"></button>
          </li>
        </ul>
      </div>
      <div class="slider-discounts__pagination slider-discounts-pagination"></div>
      <swiper class="slider-discounts__slider" ref="sliderDiscount" :options="sliderDiscountOptions">
        <swiper-slide v-for="item in DISCOUNTS"
                      class="slider-discounts__slide discount-slide">
          <div class="discount-slide__wrap" :style="{backgroundColor : item.styles.bg}">
            <a :href="item.link" class="link link--wrap"></a>
            <div class="discount-slide__title-wrap">
              <p class="discount-slide__title"
                 :class="{'is-title': !item.is_percent}"
                 :style="{color : item.styles.color_title, backgroundColor : item.styles.bg_title}">
                {{ item.title }}
              </p>
            </div>
            <div class="discount-slide__text-wrap" :style="{color:  item.styles.color_text }">
              <p class="discount-slide__text">{{ item.text }}</p>
              <p class="discount-slide__minor-text">{{ item.condition }}</p>
            </div>
          </div>
        </swiper-slide>
      </swiper>
    </div>
  </section>
</template>

<script>
    import {mapGetters}          from 'vuex';
    import {Swiper, SwiperSlide} from 'vue-awesome-swiper';

    export default {
        components: {
            Swiper,
            SwiperSlide
        },
        props: {
            pageMod: {
                default: ''
            }
        },
        data () {
            return {
                sliderDiscountOptions: {
                    pagination: {
                        el: '.slider-discounts-pagination',
                        clickable: true,
                    },
                    navigation: {
                        nextEl: '.slider-discounts-next',
                        prevEl: '.slider-discounts-prev'
                    },
                    spaceBetween: 10,
                    slidesPerGroup: 2,
                    slidesPerView: 2,
                    breakpoints: {
                        1240: {
                            slidesPerGroup: 4,
                            slidesPerView: 'auto',
                            spaceBetween: 73.5,
                        },
                        930: {
                            spaceBetween: 73.5,
                            slidesPerView: 'auto',
                            slidesPerGroup: 3
                        },
                        550: {
                            spaceBetween: 30,
                            slidesPerView: 'auto',
                            slidesPerGroup: 2
                        }
                    }
                },
            };
        },
        computed: {
            ...mapGetters('discounts', [
                'DISCOUNTS'
            ]),
            sliderDiscount () {
                return this.$refs.sliderDiscount.$swiper;
            }
        }
    };
</script>

<style lang="scss" scoped>
  @import "../../assets/scss/components/discount-slide";
</style>

<style lang="scss">
  @import "../../assets/scss/components/slider-discounts";
  @import '~swiper/css/swiper.css';
</style>