<template>
  <div id="app" @click.stop="closeElements()">
    <app-header></app-header>
    <main class="page__content content">
      <router-view></router-view>
    </main>
    <app-footer></app-footer>
  </div>
</template>

<script>
    import appHeader    from './components/Header';
    import appFooter    from './components/Footer';
    import {mapGetters} from 'vuex';
    import {mapActions} from 'vuex';

    export default {
        components: {
            appHeader,
            appFooter
        },
        mounted () {
            this.GET_PUBLICATIONS_FROM_API();
            this.GET_DISCOUNTS_FROM_API();
            this.GET_CALCULATORS_FROM_API();
            this.GET_TERMS_FROM_API();
            this.GET_COMPANIES_FROM_API();
        },
        methods: {
            ...mapActions('publications', [
                'GET_PUBLICATIONS_FROM_API'
            ]),
            ...mapActions('discounts', [
                'GET_DISCOUNTS_FROM_API'
            ]),
            ...mapActions('calculators', [
                'GET_CALCULATORS_FROM_API'
            ]),
            ...mapActions('terms', [
                'GET_TERMS_FROM_API'
            ]),
            ...mapActions('companies', [
                'GET_COMPANIES_FROM_API'
            ]),
            closeElements () {
                if (this.DISCOUNT_BLOCK_FLAG) {
                    this.$store.commit('header/CLOSE_DISCOUNT_BLOCK');
                }
            }
        },
        computed: {
            ...mapGetters('header', [
                'DISCOUNT_BLOCK_FLAG'
            ])
        }
    };
</script>

<style lang="scss">
  @import './assets/scss/main.scss';
</style>
