<template>
  <div :class="`${bemEl} conditions-banner`">
    <h3 class="conditions-banner__title title-lvl-3">Выбор условий</h3>
    <ul class="conditions-banner__list">
      <li class="conditions-banner__item" v-for="(item, key) in TERMS">
        <label class="conditions-banner__label checkbox__wrap">
          <input :value="item.value"
                 :checked="item.checked"
                 type="checkbox"
                 class="checkbox__hidden visually-hidden"
                 @change="updateCheckedTerms($event, key)">
          <span class="conditions-banner__checkbox checkbox"></span>
          <span class="conditions-banner__label-text">{{item.name}}</span>
        </label>
      </li>
    </ul>
    <button class="conditions-banner__btn btn">Показать</button>
    <p class="conditions-banner__message">Найдено {{COMPANIES_TO_CATALOG.length}} предложения</p>
  </div>
</template>

<script>
    import {mapGetters} from 'vuex';

    export default {
        props: {
            bemEl: String
        },
        methods: {
            updateCheckedTerms (e, key) {
                this.$store.commit('terms/UPDATE_CHECKED_TERMS', {key: key, flag: e.target.checked});
            }
        },
        computed: {
            ...mapGetters('terms', [
                'TERMS'
            ]),
            ...mapGetters('companies', [
                'COMPANIES_TO_CATALOG'
            ]),
        }
    };
</script>

<style lang="scss" scoped>
  @import '../../assets/scss/components/conditions-banner';
</style>