<template>
  <div :class="`${bemEl} long-banner`">

  </div>
</template>

<script>
    export default {
        props: {
            bemEl: String
        },
        computed: {

        }
    };
</script>

<style lang="scss" scoped>
  @import '../../assets/scss/components/long-banner';
</style>