<template>
  <section :class="`${ bemEl } info-banner`">
    <div class="info-banner__wrap container">
      <div class="info-banner__col-1">
        <img src="/dev-img/circle.png" alt="" class="info-banner__img">
      </div>
      <div class="info-banner__col-2">
        <p class="info-banner__title">Нужна помощь?</p>
        <p class="info-banner__text">
          Задайте нам вопрос по теме кредитных продуктов
          и получите квалифицированный ответ от&nbsp;юриста
        </p>
      </div>
      <div class="info-banner__col-3">
        <button class="info-banner__btn btn"
                @click="showModal()">Задать вопрос</button>
        <p class="info-banner__btn-text">Конфиденциально</p>
      </div>
    </div>
    <app-popup-question></app-popup-question>
  </section>
</template>

<script>
    import appPopupQuestion from '../../components/Popups/PopupQuestion';

    export default {
        components: {
            appPopupQuestion
        },
        props: {
            bemEl: String
        },
        methods: {
            showModal () {
                this.$modal.show('popup-question');
            }
        }
    };
</script>

<style lang="scss" scoped>

</style>