<template>
  <div :class="`${bemEl} slider-banner`">
    <h3 class="slider-banner__title title-lvl-5">{{title}}</h3>
    <div class="slider-banner__slider js_slider_banner">
      <div class="slider-banner__slide">
        <ul class="slider-banner__slide-list">
          <li class="slider-banner__slide-item">
            <a href="item.url" class="slider-banner__slide-link link link--dark-blue">item.name</a>
            <span class="slider-banner__slide-condition">item.condition</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
    export default {
        props: {
            bemEl: String,
            title: String
        }
    };
</script>

<style lang="scss">
  @import "../../assets/scss/components/slider-banner";
</style>