<template>
  <section :class="`${bemEl} info-banner info-banner--mt-small`">
    <div class="info-banner__wrap container">
      <div class="info-banner__col-1">
        <img src="/dev-img/circle.png" alt="" class="info-banner__img">
      </div>
      <div class="info-banner__col-2">
        <p class="info-banner__text info-banner__text--social">
          Получайте скидки, важные новости
          и ответы на вопросы в соцсетях
        </p>
      </div>
      <div class="info-banner__col-3">
        <ul class="info-banner__list">
          <li class="info-banner__item">
            <a href="#" class="info-banner__link link link--wrap"></a>
            <svg class="info-banner__link-img">
              <use xlink:href="/img/html-sprite.svg#fb"></use>
            </svg>
          </li>
          <li class="info-banner__item">
            <a href="#" class="info-banner__link link link--wrap"></a>
            <svg class="info-banner__link-img">
              <use xlink:href="/img/html-sprite.svg#inst"></use>
            </svg>
          </li>
          <li class="info-banner__item">
            <a href="#" class="info-banner__link link link--wrap"></a>
            <svg class="info-banner__link-img">
              <use xlink:href="/img/html-sprite.svg#tw"></use>
            </svg>
          </li>
        </ul>
      </div>
    </div>
  </section>
</template>

<script>
    export default {
        props: {
            bemEl: String
        }
    }
</script>

<style lang="scss">

</style>